<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <p class="">
        <h4 class="fw-bold text-primary">After you deactivate</h4>
      </p>
      <p class="fs-sm">  
        Once deactivated, this email cannot be used to open any accounts, 
        please check  Account Deactivation in Terms & Conditions
      </p>
      <ul class="card-list list text-reset">
        <li class="list-item">
          <a href="{% url 'mydocumentations:terms_of_use' %}" class="text-decoration-none fs-sm">Learn more</a>
        </li>
      </ul>
    </div>
  </div>
</div>
