{% regroup object_list by category as service_list %}
{% for tag in service_list %}

    
    {% for p in tag.list %}

      <div class="card border-bottom rounded-0 mb-6">
        <div class="card-body box-shadow">
          <p class="card-text">{{p.sku|upper}}</p>
          <h3 class="card-title text-primary fw-bolder">{{p.title | capfirst}}</h3>
          <p class="card-text text-muted">{{p.description | capfirst}}</p>
          <p class="card-text mb-0">
            <span class="">Listing Price:<del>${{ p.listprice }}</del></span>
            <span class="">Current Offer:<span class="text-danger">${{ p.saleprice }}</span>
          </p>
          <p class="card-text">
            Category: 
            <a class="text-decoration-none" href="{% url 'strategy_bycat' tag.grouper %}">{{tag.grouper|capfirst}}</a>
          </p>
          <p class="card-text">
            <a class="btn btn-primary btn-xs rounded-0" href="{% url 'strategy_prod_details' p.id %}">Show Detials</a>
          </p>
        </div>
      </div>
      

    {% endfor %}


{% endfor %}
