{% load static %}

<!-- CPT -->
<div class="row align-items-center">
  <div class="col-12 col-md-5 col-lg-4" data-aos="">

    <!-- Heading -->
    <h1 class="fw-bolder text-primary">
      Strategy Services
    </h1>

    <p><a class="btn btn-black" href="{% url 'strategy_all_serv' %}">Show all</a></p>
    <p><a class="text-dark" href="{% url 'strategy_bycat' 'location' %}" >Show by category</a></p>

  </div>
  <div class="col-12 col-md-7 col-lg-7 offset-lg-1">

    <!-- Card -->
    <div class="card card-border border-primary shadow mb-6" data-aos="">
      <div class="card-body">

        <!-- List group -->
        <div class="list-group list-group-flush">
          {% for cp in servicelist_stratg %}
            <div class="list-group-item d-flex align-items-center">

              <!-- Text -->
              <div class="me-auto">

                <!-- Heading -->
                <p class="fw-bold mb-1">
                  <a class="fw-bolder text-primary text-decoration-none" href="{% url 'strategy_prod_details' cp.id  %}">{{cp.title | capfirst}}</a>
                </p>

                <!-- Text -->
                <p class="fs-sm text-muted mb-0">
                  ${{cp.listprice}}
                </p>

              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>


  </div>
</div>
