<div class="m-0 p-0 text-center">
  <h3 class="fw-bolder pt-2 fs-2 text-primary">Cart Summary</h3>
</div>

<hr class="mt-0 pt-0 text-primary">

<div class="media-body lh-125">
	
  <div class="mb-0">
    <div class="d-flex justify-content-between">
      <h5>Item Sub-Total</h5>
      <h5 class="fw-bold">Tk<span>{{final_subtotal}}</span></h5>
    </div>
  </div>

  <div class="mb-0">
    <div class="d-flex justify-content-between">
      <h5>Tax Total</h5>
      <h5 class="fw-bold">Tk<span>{{final_taxtotal}}</span></h5>
    </div>
  </div>

  <div class="mb-0">
    <div class="d-flex justify-content-between">
      <h5>Delivery Total</h5>
      <h5 class="fw-bold">Tk<span>{{final_deliverytotal}}</span></h5>
    </div>
  </div>

  <div class="mb-0">
    <div class="d-flex justify-content-between">
      <h5 class="fw-bolder">Grand Total</h5>
      <h5 class="fw-bolder">Tk<span id="final_cost_26220">{{total_cost}}</span></h5>
    </div>
  </div>

</div>
