<p style="">      
	Your information
  to our Site Survey will be 
  carefully reviewed by the CampusLinker Product 
  Development team. 
</p>

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
      <td valign="middle" class="footer email-section">
          <table>       
              <tr>
                  <td valign="top" width="60%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-right: 10px;">
                                  {% include 'mymailroom/components/order-details-common.html' %}
                              </td>
                          </tr>
                      </table>
                  </td>

                  <td valign="top" width="50%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-left: 10px;">

                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
