<div class="card border-left">

  <div class="card-body">

    <div class="list-group list-group-flush">

      <div class="py-3 d-flex">
        <div class="me-auto">
              <h4 class="fw-bold text-primary">
                Product Insight
              </h4>    
        </div>
      </div>


      <div class="py-3 d-flex align-items-center border-bottom">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'referral_how_it_works' %}">
              <span class="fe fe-chevron-right text-primary"></span>How It Works
            </a>
          </p>
        </div>
      </div>

      <div class="py-3 d-flex align-items-center border-bottom">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'referral_del_meths' %}">
              <span class="fe fe-chevron-right text-primary"></span>Delivery Methods
            </a>
          </p>
        </div>
      </div>

      <div class="py-3 d-flex align-items-center border-bottom">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'referral_use_cases' %}">
              <span class="fe fe-chevron-right text-primary"></span>Use Cases
            </a>
          </p>
        </div>
      </div>

      <div class="py-3 d-flex align-items-center border-bottom">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'referral_compare_this' %}">
              <span class="fe fe-chevron-right text-primary"></span>Product Comparison
            </a>
          </p>
        </div>
      </div>

      <div class="py-3 d-flex align-items-center border-bottom">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'referral_faq' %}">
              <span class="fe fe-chevron-right text-primary"></span>FAQs
            </a>
          </p>
        </div>
      </div>      
    </div>

  </div>
</div>



