<h4>Preparation Steps</h4>

<p class="fs-sm mb-5">
  Learning about the following topics will help you
  understand how to prepare to submit a request for referral.
</p>

<ul class="list-unstyled">
  <li>
    <a class="fw-bold fs-sm text-decoration-none" href="{% url 'referral_how_it_works' %}">
      Get Register/Sign Up
    </a>
  </li>
  <li>
    <a class="fw-bold fs-sm text-decoration-none" href="{% url 'referral_del_meths' %}">
      Take Assessment
    </a>
  </li>
  <li>
    <a class="fw-bold fs-sm text-decoration-none" href="{% url 'referral_use_cases' %}">
      See Current Openings
    </a>
  </li>
</ul>