<div class="row mb-6">
    <div class="about-author d-flex p-4">
      <div class="bio mr-5">
        <img src="https://www.educative.io/static/imgs/logos/logoMarkv2.png" class="img-fluid mb-4">
      </div>
      <div class="desc">
        <p>{{product_line}}</p>
        <p>
        	This is a big nice descrion abut the prodct called Pre I-20. 
	        In this product we offer services that can help you get I-20 from USA universities 
	        such as Profile Evaluation, University Selection, etc.
	        Please review all services page to see a list of services we are currently offering.
	    </p>
      </div>
    </div>
</div>