
<div class="card mb-6 bg-light">

  <div class="card-body">



    <div class="list-group list-group-flush">






      <div class="py-1 d-flex">
        <div class="me-auto">
              <h4 class="fw-bold text-primary">
                FAQs Product
              </h4>    
        </div>
      </div>


      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'prei20_faq' %}">
              <span class="fe fe-chevron-right text-primary"></span>Exp180
            </a>
          </p>
        </div>
      </div>

      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'adhoc:adhoc_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Adhoc</a>
          </p>
        </div>
      </div>

      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'intprep_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Dialogue</a>
          </p>
        </div>
      </div>

      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'refprog_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Referral</a>
          </p>
        </div>
      </div>



      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'usvisa_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Bandwidth</a>
          </p>
        </div>
      </div>      


      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'posti20_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Dialect</a>
          </p>
        </div>
      </div>      


      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'proflevel_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Staircase</a>
          </p>
        </div>
      </div>      


      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'rolebased_faq' %}">
            <span class="fe fe-chevron-right text-primary"></span>Identity</a>
          </p>
        </div>
      </div>      


      <div class="py-1 d-flex">
        <div class="me-auto">
          <p class="fw-bold mb-1">
            <a class="text-decoration-none" href="{% url 'strategy_faq' %}">
              <span class="fe fe-chevron-right text-primary"></span>Strategy</a>
          </p>
        </div>
      </div>            









    </div>


  </div>

</div>
