{% load static %}


<div class="row justify-content-between align-items-center">
  <div class="col-12 col-md-6 img-skewed img-skewed-end">
    <div class="card rounded-lg bg-black mb-6 mb-md-0 img-skewed-item screenshot">
      <div class="card-header border-white-10">
        <div class="d-flex">
          <span class="bg-danger rounded-circle" style="width: 10px; height: 10px;"></span>
          <span class="bg-warning rounded-circle ms-1" style="width: 10px; height: 10px;"></span>
          <span class="bg-success rounded-circle ms-1" style="width: 10px; height: 10px;"></span>
        </div>

      </div>
      <div class="card-body">
        <code class="highlight" data-typed='{"backSpeed":2, "strings": ["&gt;&nbsp;Hello, please&nbsp;briefly tell us about you<br/><span class=\"text-success\">I am a Frontend web app developer with three years of experience, mainly work in Financial industry&nbsp;</span><br/><br/>&gt;&nbsp;Nice! So what is your primary skillset?<br/><span class=\"text-success\">I am specialized in React, TypeScript and NodeJS</span><br/><br/>&gt;&nbsp;&nbsp;Great! Finally, why do you want to work with us<br/><span class=\"text-success\">Working in such team and project would be a <br/>great opportunity for me to learn and grow</span>"]}' style="min-height: 183px;"></code>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-5">

    <h6 class="text-uppercase text-primary">Services / Universal / Dialogue</h6>

    <h1 class="fw-bolder display-3">
      Prepare for your next job interview with <span class="text-primary">Hawk-Eye Precision</span>
    </h1>

    <!-- Text -->
    <p class="fs-lg text-reset">
      write about why and how this can help user save time in interview prep
      and help them gain knowledge about what topics they will be asked questions
    </p>

    <!-- Link -->
    <a class="fw-bold text-decoration-none" href="{% url 'intprep_all_services' %}">
      See All Services <i class="fe fe-arrow-right ms-3"></i>
    </a>

  </div>
</div> 
