<div class="accordion-item card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpDis" aria-expanded="false" aria-controls="helpDis">
    <span class="me-4" id="helpOneHeading">
      <h4 class="fw-bold text-primary">Dispute Disclaimer</h4>
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpDis" aria-labelledby="helpDisHeading" data-bs-parent="#helpAccordionThree">
    <div class="accordion-body">
      <p class="text-reset">
        Any disputes that are illegal, unauthorized & unproclaimed by this site and the law shall result in immediate legal action.
      </p>
      <p>
          <a href="{% url 'mydocumentations:dispute_policy' %}" class="text-decoration-none fs-sm">
            Learn More
          </a>
      </p>
    </div>
  </div>
</div>