<div class="accordion-item card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpTwo" aria-expanded="false" aria-controls="helpTwo">
    <span class="me-4" id="helpRefundHeading">
      <h4 class="fw-bold text-primary">Dispute Refund Policy</h4>
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpTwo" aria-labelledby="helpTwoHeading" data-bs-parent="#helpAccordionTwo">
    <div class="accordion-body">
      <p class="">
        If you do not get your orderd service, 
        please file a dispute check our Dispute & Rdfund Policy
      </p>
      <p>
          <a href="{% url 'mydocumentations:dispute_policy' %}" class="text-decoration-none fs-sm">
            Learn More
          </a>
      </p>
    </div>
  </div>
</div>