{% load static %}


<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100 py-8 py-md-11">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 text-center">

        <h2 class="display-3">Want to learn about our products?</h2>
        <p class="mb-5 fs-lg">
          Our product lines are mainly devided in two categories such as Universal Services and Proficiency Services.
          Each of them has vareities of services in order to help the job seekers based on their diverse needs.
        </p>
        <a class="btn btn-primary rounded-0" href="{% url ' all_services_link' %}">
          All Products <i class="fe fe-arrow-right ms-2"></i>
        </a>

      </div>
    </div>
  </div>
</section>
