infra-v3/test4/.terraform/
.terraform

._test-run.txt
env/
myenv/
envccv1/
ccenv/
node_modules/

*.env
*.pyc
__pycache__/

*.log

ccenv/
instance/

customer_resumes/
uploaded_resumes/
homepage_resume_uploads/
projectX/
projectY/
dummy_data/

*.sh

.DS_Store
._.DS_Store
.vscode/

.pytest_cache/
.coverage
htmlcov/


build/
*.egg-info/

customer_resume_folder/

userData/
projectZ/
.idea
db.sqlite3
*.db

# STATIC_ROOT in django settings copies everything to this folder for CDN/nginx serving, do not add to git repo.
campusconnect/static
localdev*
localdev_dmj.env


*.code-workspace


campusconnect/general/migrations/*
!__init__.py

campusconnect/guestactions/migrations/*
!__init__.py

campusconnect/inventory/migrations/*
!__init__.py

campusconnect/prof_candidate/migrations/*
!__init__.py

campusconnect/mmhauth/migrations/*
!__init__.py

campusconnect/mymailroom/migrations/*
!__init__.py

campusconnect/viewtracker/migrations/*
!__init__.py

