<div class="card card-bleed border-bottom border-bottom-md-0">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Order Invoice
      </h6>
      <ul class="card-list list text-reset">
        <li class="list-item">
          <span class="list-link btn">
            <a href="">Download Invoice</a>
          </span>
        </li>
        <li class="list-item">
          <span class="list-link text-danger">
            need to implement this
          </span>
        </li>
      </ul>

    </div>
  </div>
</div>