<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h4 class="fw-bold text-primary">Order Selected</h4>
      <table class="table table-sm text-reset">
              <tbody>
                <p class="mb-0">
                  Tracking ID: <br> {{ object.created_aganist }}
                </p>
                <!-- <p class="text-reset">
                  I want to buy a car
                </p>
                <p class="text-reset">
                  $46.00
                </p>
                <ul>
                  <li class="text-reset">I want to buy car cover</li>
                  <li class="text-reset">$3.78</li>
                </ul>
                <ul>
                  <li class="text-reset">I want to buy car insurance</li>
                  <li class="text-reset">$9.78</li>
                </ul>
                <p class="text-reset mb-0 pt-3">
                  Estimated Time of Delivery
                </p>
                <small class="text-reset">
                  2021-05-22 11:59pm EST
                </small>
              </tbody> -->
      </table>
    </div>
  </div>
</div>
