{% extends 'base_v3.html' %}
{% load static %}

<!-- ============================================== -->
{% block meta %}
  <title>{{title}}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

<!-- ============================================== -->
{% block content %}

<div class="py-5">
  {% include 'general/components/menus/header/main-menu-3.html' %}

  {% if testfailed_name %}
    TEST FAILED: {{testfailed_name}}<BR>
  {% endif %}
  {% if viewfailed_name %}
    VIEW FAILED: {{viewfailed_name}}<BR>
  {% endif %}
  {% if optionalmessage %}
    OPTIONAL MESSAGE: {{optionalmessage}}<BR>
  {% endif %}



  {% comment "Optional note" %}
    {% include 'resumeweb/components/ques_abt_prod.html' %}
  {% endcomment %}

</div>

{% endblock %}
<!-- ============================================== -->

<!-- ============================================== -->
{% comment "Optional note" %}
{% endcomment %}
