<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="cancellationrules">
    <div class="card-body">
      <p class="">
        <h4 class="fw-bold text-primary">What happens next</h4>
      </p>
      <div class="row align-items-center">
        <div class="col-12 col-md">
          <ul class="fs-sm">
            <li>We do not save your card information under any circumstances</li>
            <li>We do not save your phone number through this below payment form</li>
            <li>We do not ask for your physical address in order to complete the purchase</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>