{% load static %}


<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <a href="{% url 'usvisa_home' %}">
      <h6 class="text-uppercase text-warning btn btn-xs active btn-outline-primary">Bandwidth</h6>
    </a>
    <h1 class="display-2 fw-bolder">
      Preparing for job market while on <span class="text-primary">US Job Visa</span> CPT, OPT, H1B ?
    </h1>
    <p class="mb-6 mb-md-6">
      Bandwidth is the most advanced resume analysis tool available in the US job market 
      that helps job search candidates who stay and work in 
      United States while maintaining their USA VISA status
    </p>
  </div>
</div>



<div class="row">
  
  <div class="col-12 col-md-6 col-lg-6 text-center">
    <a href="{% url 'usvisa_bycat' 'cpt' %}" class="text-reset text-decoration-none">
      <h3 class="fw-bolder">CPT</h3>
      <p class="mb-8">
        Curriculam Practical Training (CPT) is a conditional and timed
        working VISA permitted by US Government
      </p>
    </a>
  </div>


  <div class="col-12 col-md-6 col-lg-6 text-center">
    <a href="{% url 'usvisa_bycat' 'opt' %}" class="text-reset text-decoration-none">  
      <h3 class="fw-bolder">OPT</h3>
      <p class="mb-8">
        Optional Practical Training (OPT) paves the way for a job seeker 
        who aims to attempt greater level of working VISA. It is considered
        as one of the most popular work visa types among the US job industry.
      </p>
    </a>
  </div>

</div>


<div class="row">

  <div class="col-12 col-md-6 col-lg-6 text-center">
    <a href="{% url 'usvisa_bycat' 'h1b' %}" class="text-reset text-decoration-none">
      <h3 class="fw-bolder">H1B</h3>
      <p class="mb-8">
        H1B is the most advanced working VISA status permitted by US Government.
        It's the most popular work visa type 
      </p>
    </a>
  </div>


  <div class="col-12 col-md-6 col-lg-6 text-center">
    <a href="{% url 'usvisa_bycat' 'gcead' %}" class="text-reset text-decoration-none">
      <h3 class="fw-bolder">GC EAD</h3>
      <p class="mb-8">
        Although GC EAD is little unpopular and unknown, it offers 
        some great advantegs to the job seekers
      </p>
    </a>
  </div>

</div>



<div class="row justify-content-center py-7 py-md-7">
  <div class="col-12 col-md-10 col-lg-8 text-center">
      <a href="{% url 'usvisa_all_services' %}" class="btn">
          <h3 class="fw-bolder">View all Bandwidth Services <i class="fe fe-arrow-right ms-auto"></i></h3>
        </a>
  </div>
</div>


