{% extends 'general/layout/primary_layout.html' %}


{% block body_contents %}


  {% include 'general/pg-contents/about-us-pg/opening-banner.html' %}





  {% include 'general/pg-contents/about-us-pg/section1.html' %}  


  {% include 'general/pg-contents/about-us-pg/section2.html' %}


  {% include 'general/pg-contents/about-us-pg/section3.html' %}




  {% include 'general/pg-contents/about-us-pg/section5.html' %}


  {% include 'general/pg-contents/about-us-pg/section6.html' %}


  {% include 'general/pg-contents/about-us-pg/section7.html' %}






{% endblock %}
