{% extends 'general/layout/primary_layout.html' %}
{% load static %}

{% block meta %}
  <title>Home | Campus Linker</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}


{% block body_contents %}
    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="https://campusstaticdata.s3.amazonaws.com/images/bg-vid.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="caption">
                <h6>Study Abroad</h6>
                <h2>Finding your Dream Campus<br> is NOT a dream anymore</h2>
                <p>
                  Find your dream U.S. university that suits your unique requirements in mins not days or months. 
                  From now save time and money on your search for U.S. universites based on your budgets and your profile
                  whenver you need wihout any 3rd party help.
                </p>
                <div class="main-button-red">
                </div>
            </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-service-item owl-carousel">
            
              <div class="item">
                <div class="icon">
                </div>
                <div class="down-content">
                  <h4>Quick Search</h4>
                  <p>Find a list of your desired universities in just days not in months</p>
                </div>
              </div>
              
              <div class="item">
                <div class="icon">
                </div>
                <div class="down-content">
                  <h4>Reliable Results</h4>
                  <p>Our search results are so reliable that you no need 
                  to hover around a list of universities every few weeks</p>
                </div>
              </div>
              
              <div class="item">
                <div class="icon">
                </div>
                <div class="down-content">
                  <h4>Affordable Price</h4>
                  <p>No need to spend thousands of your hard earned money with the 3rd party
                  consultancy firms</p>
                </div>
              </div>
              
              <div class="item">
                <div class="icon">
                </div>
                <div class="down-content">
                  <h4>Support 24x7x365</h4>
                  <p>Our customer service center is open 24x7 to answer any questions you may have for us</p>
                </div>
              </div>
              
              <div class="item">
                <div class="icon">
                </div>
                <div class="down-content">
                  <h4>Accurate Suggestions</h4>
                  <p>We guarantee you that our university recommendations will be so accurate that it will boost your
                  visa chances</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="our-facts">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <h2>Find your next campus the intelligent way</h2>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit">03</div>
                      <div class="count-title">Days to find</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit">50</div>
                      <div class="count-title">U.S. States covered</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content new-students">
                      <div class="count-digit">150</div>
                      <div class="count-title">Avg Price/search</div>
                    </div>
                  </div> 
                  <div class="col-12">
                    <div class="count-area-content percentage">
                      <div class="count-digit">100</div>
                      <div class="count-title">Confidence</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-lg-6 align-self-center">
            <div class="video">
              <img src="https://campusstaticdata.s3.amazonaws.com/images/prod5282.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="our-facts">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <h2>Prepare for US visa interview like never before</h2>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit">03</div>
                      <div class="count-title">Days for DS-160</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="count-area-content">
                      <div class="count-digit">05</div>
                      <div class="count-title">Mock Interviews</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-12">
                    <div class="count-area-content new-students">
                      <div class="count-digit">50</div>
                      <div class="count-title">Interview Question Sets</div>
                    </div>
                  </div> 
                  <div class="col-12">
                    <div class="count-area-content percentage">
                      <div class="count-digit">100</div>
                      <div class="count-title">Confidence</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-lg-6 align-self-center">
            <div class="video">
              <img src="https://campusstaticdata.s3.amazonaws.com/images/prod5281.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="apply-now" id="apply">
      <div class="container">
        <div class="row">
          <div class="section-heading text-center">
            <h2>There is no one quite like us !</h2>
          </div>          
          <div class="col-lg-6 align-self-center">
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <h3>The most accurate U.S. University Recommendation System in the country</h3>
                  <p>Experience the most accurate U.S. university recommendation system in the country, tailored to guide you to your ideal academic path</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <h3>Your U.S. Visa Preparation will Never be Same Again</h3>
                  <p>Your U.S. visa preparation will never be the same again, 
                  revolutionized by innovative tools and streamlined processes that make the journey smoother and more efficient</p>
                </div>
              </div>
            </div>            
          </div>
          <div class="col-lg-6">
            <div class="accordions is-first-expanded">
              <article class="accordion">
                  <div class="accordion-head">
                      <span>Why should I use CampusLinker's services instead of searching for universities on Google ?</span>
                      <span class="icon">
                          <i class="icon fa fa-chevron-right"></i>
                      </span>
                  </div>
                  <div class="accordion-body">
                      <div class="content">
                          <p>
                            While Google searches can provide general information, 
                            CampusLinker's AI tool offers personalized recommendations tailored to 
                            your unique academic and extracurricular profile. Our AI evaluates 
                            your strengths, achievements, and preferences to match you with universities 
                            where you have the highest potential for success, saving you time and 
                            effort in finding the best fit.
                          </p>
                      </div>
                  </div>
              </article>
              <article class="accordion">
                  <div class="accordion-head">
                      <span>Can Campus Linker help me with scholarship opportunities ?</span>
                      <span class="icon">
                          <i class="icon fa fa-chevron-right"></i>
                      </span>
                  </div>
                  <div class="accordion-body">
                      <div class="content">
                          <p>
                            Yes, CampusLinker's AI powered services can identify scholarship 
                            opportunities that match your profile. By analyzing your academic 
                            achievements, extracurricular involvement, and other relevant factors, 
                            the AI can recommend scholarships you may be eligible for, helping you 
                            secure financial support for your studies.
                          </p>
                      </div>
                  </div>
              </article>
              <article class="accordion">
                  <div class="accordion-head">
                      <span>How do I know my chances of getting a U.S. visa by using CampusLinker's services ?</span>
                      <span class="icon">
                          <i class="icon fa fa-chevron-right"></i>
                      </span>
                  </div>
                  <div class="accordion-body">
                      <div class="content">
                          <p>
                            CampusLinker offers a profile review service where experts evaluate 
                            your academic and personal background, financial status, and other 
                            relevant factors. This comprehensive assessment provides you with an understanding 
                            of your strengths and potential areas of improvement, giving you a clearer picture 
                            of your chances of obtaining a U.S. visa and advice on how to enhance your application.
                          </p>
                      </div>
                  </div>
              </article>
              <article class="accordion last-accordion">
                  <div class="accordion-head">
                      <span>How can CampusLinker help with my visa interview preparation ?</span>
                      <span class="icon">
                          <i class="icon fa fa-chevron-right"></i>
                      </span>
                  </div>
                  <div class="accordion-body">
                      <div class="content">
                          <p>
                            CampusLinker offers several services to help you prepare for 
                            your visa interview, including personalized interview questions, 
                            mock interviews, and document preparation. These services are designed 
                            to boost your confidence, improve your responses, and ensure 
                            you have all the necessary paperwork, increasing your chances of a successful interview.
                          </p>
                      </div>
                  </div>
              </article>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="upcoming-meetings" id="meetings">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="section-heading">
                <h2>Join Our Next Info Session. Live !</h2>
              </div>              
              <div class="col-lg-4">
                <div class="meeting-item">
                  {% include 'general/components/meeting-items/item-01.html' %}
                </div>
              </div>
              <div class="col-lg-4">
                <div class="meeting-item">
                  {% include 'general/components/meeting-items/item-02.html' %}
                </div>
              </div>              
              <div class="col-lg-4">
                <div class="meeting-item">
                  {% include 'general/components/meeting-items/item-03.html' %}
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
