{% extends 'general/layout/primary_layout.html' %}


{% block body_contents %}



  {% include 'general/pg-contents/promo-offers/opening-banner.html' %}



  <section class="py-8 py-md-11">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        {% include 'general/pg-contents/promo-offers/offer-1.html' %}
      </div>
    </div>
  </section>


  <section class="py-8 py-md-11">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        {% include 'general/pg-contents/promo-offers/offer-2.html' %}
      </div>
    </div>
  </section>











{% endblock %}
