{% extends 'prof_candidate/layout/primary_layout.html' %}

{% block meta %}
<title>Account Deactivation Complete- CampusLinker</title>
{% endblock %}

{% block sidebar_content %}
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/home-link.html' %}
  </div>
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/acct_set.html' %}
  </div>
  <div class="mb-6">  
    {% include 'prof_candidate/components/acct_settings/how_to_submit.html' %}
  </div>  
  <div class="mb-6">  
    {% include 'prof_candidate/components/acct_settings/before_you_deactivate.html' %}
  </div>
  <div class="mb-6">  
    {% include 'prof_candidate/components/acct_settings/after_you_deactivate.html' %}
  </div>
{% endblock %}


{% block body_content_section %}

  <div class="card-body">
    <div class="row">
      <div class="col">
        {% include 'prof_candidate/pg-contents/acct_settings/acct_deactivate_done.html' %}
      </div>
    </div>
  </div>

{% endblock %}
