<!-- Modal / Product Search Form -->
<div class="modal fade" id="error-modal-108" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Your search query cannot be empty. </p>
        <p>
        	Please be specific
        	about what you want. You may try these "How to update a resume format",
        	"How to improve the content in my resume"
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-xs rounded-0" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
