<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#accountInfo" aria-expanded="false" aria-controls="accountInfo">
    <span class="me-4" id="accountInfoHeading">
      <h4 class="fw-bold text-primary">Account Info</h4>
    </span>
  </div>
  <div class="accordion-collapse collapse" id="accountInfo" aria-labelledby="accountInfoHeading" data-bs-parent="#helpAccordionThree">
    <div class="accordion-body">
      <p class="text-reset">
        Email Address: {{user.email}}
      </p>
    </div>
  </div>
</div>