<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpOne" aria-expanded="false" aria-controls="helpOne">
    <span class="me-4" id="helpOneHeading">
      <h4 class="fw-bold text-primary">After updating password</h4>
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpOne" aria-labelledby="helpOneHeading" data-bs-parent="#helpAccordionOne">
    <div class="accordion-body">
      <p class="text-reset">
        After updating password you will receive a confirmation email and you will be logged out of all devices and need to login again.
        <a href="{% url 'mydocumentations:privacy_policy' %}" class="text-decoration-none fs-sm">
          Learn more
        </a>
      </p>
    </div>
  </div>
</div>