<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpSecPol" aria-expanded="false" aria-controls="helpSecPol">
    <span class="me-4" id="helpOneHeading">
      <h4 class="fw-bold text-primary">Order Cancellation Policy</h4>
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpSecPol" aria-labelledby="helpSecPolHeading" data-bs-parent="#helpAccordionThree">
    <div class="accordion-body">
      <p class="text-reset">
        You can cancel any order within its grace period. No question asked. No string attached.<br>
        <a href="{% url 'mydocumentations:cancel_policy' %}" class="text-decoration-none fs-sm">
          Learn more
        </a>
      </p>
    </div>
  </div>
</div>