<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpOne" aria-expanded="false" aria-controls="helpOne">
    <span class="me-4" id="helpOneHeading">
      How Coupon Code Works
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpOne" aria-labelledby="helpOneHeading" data-bs-parent="#helpAccordionOne">
    <div class="accordion-body">
      <p class="text-reset">
        Coupons and their usage are explained in Coupons & Rewards in Terms & Conditions.
        <a href="{% url 'mydocumentations:terms_of_use' %}" class="text-decoration-none fs-sm">
          Learn more
        </a>
      </p>
    </div>
  </div>
</div>