{% load static %}


<div class="nav-scroller bg-body border-bottom bg-info" id="top-news007">
  <nav class="nav d-flex py-1 justify-content-between" aria-label="topnews navigation">
    
    <a href="{% url 'general:this_is_beta' %}" class="link-white px-2 h6 text-decoration-none">
      this is BETA
    </a>

    <a href="{% url 'general:promo_offers_page' %}" class="link-white px-2 h6 text-decoration-none">
      Promo Offers
    </a>

    <a href="{% url 'guestactions:contact_us_guest' %}" class="link-white px-2 h6 text-decoration-none">
    <i class="fe fe-help-circle text-warning px-1"></i>Support
    </a>

    <a href="{% url 'general:us_only_support' %}" class="link-white px-2 h6 text-decoration-none">
    <i class="fe fe-globe text-warning px-1"></i>United States
    </a> 

  </nav>
</div>
