<div class="list-group-item border-0">
  <div class="row align-items-center">
    <div class="col">
      <p>Offer 1</p>
      <p class="mb-0">Submit Product Review</p>
      <p>
        <small class="text-reset">
          Submit feedback for any of your products such as , and 
          you will be offered a coupon code is ready for use
        </small>
      </p>
      <p>
        <!-- <ul>
          <li class="text-reset">Service Title: {{mcart_instance.title}}</li>
          <li class="text-reset">SKU: {{mcart_instance.sku}}</li>
            {% if mcart_instance.final_price == mcart_instance.base_price %}
              <li class="text-reset">Price: {{mcart_instance.final_price}}</li>
            {% else %}
              <li class="text-reset">Price: {{mcart_instance.final_price}} (coupon {{mcart_instance.mcart_coupons.mcoupon_given.random_string_32}} applied: ${{mcart_instance.base_price}} - ${{mcart_instance.coupon_subtract}})</li>
            {% endif %}
        </ul> -->

      </p>
      <p>
        <a href="{% url 'guestactions:product_review_by_guest_link' %}">Start Now</a>
      </p>
    </div>
  </div>
</div>
