{% extends 'prof_candidate/layout/primary_layout.html' %}


{% block ads %}
  {% comment %} {% include 'siteshared/components/ads/order-tracking-func-update.html' %} {% endcomment %}
  {% include 'prof_candidate/components/headers/latest-order-feat.html' %}
{% endblock %}


{% block sidebar_content %}
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/home-link.html' %}
  </div>
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/orders.html' %}
  </div>
  <div class="mb-6">  
    {% include 'prof_candidate/components/orders/pricing_info.html' %}
  </div>
  <div class="mb-6">  
    {% include 'prof_candidate/components/orders/conf_email_sent_to.html' %}
  </div>
{% endblock %}


{% block body_content_header %}
  {{section_header_1}}
{% endblock %}


{% block body_content_section %}
    {% include 'prof_candidate/pg-contents/my_orders/order-details.html' %}
{% endblock %}
