	      	<table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
	      		<tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
					    <th width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px">Item</th>
					    <th width="20%" style="text-align:right; padding: 0 2.5em; color: #000; padding-bottom: 20px">Price</th>
					  </tr>
					  <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
					  	<td valign="middle" width="90%" style="text-align:left; padding:0 2.5em;">
					  		<div class="product-entry">
					  			<div class="text">
					  				<h3>Analog Wrest Watch</h3>
					  				<span>Small</span>
					  				<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					  			</div>
					  		</div>
					  	</td>
					  	<td valign="middle" width="20%" style="text-align:left; padding: 0 2.5em;">
					  		<span class="price" style="color: ; font-size: ;">Item Total $120</span>
					  	</td>
					  </tr>
					  <tr>
					  	<td valign="middle" style="text-align:left; padding: 1em 2.5em;">
					  		<p><a href="#" class="btn btn-primary">Continue to your order</a></p>
					  	</td>
					  </tr>
	      	</table>