<p>Order Details</p>
							
{% if products_list %}
	{% for instance in products_list %}
		{% with instance=instance %}

			<p style="color:#111765">Tracking # {{ instance.mcart.tracking_id }}</p>
			<p>Primary Service</p>
			<p>{{instance.mcart.sku|upper}}</p>
			<p>{{instance.mcart.title|title}}</p>
			<p>
				{% if instance.mcart.final_price == instance.mcart.base_price %}
					${{instance.mcart.final_price}}
				{% else %}
					(coupon {{instance.mcart.mcart_coupons.mcoupon_given.random_string_32}} applied: ${{instance.mcart.base_price}} - ${{instance.mcart.coupon_subtract}})
					${{instance.mcart.final_price}}
				{% endif %}			              		
			</p>

			<p>Service Option(s)</p>
			{% for serviceoption in instance.mcart_serviceoptions %}
				{% with serviceoption=serviceoption %}
					<p>{{serviceoption.sku|upper}}</p>
					<p>{{serviceoption.name|title}}</p>
					<p>${{serviceoption.price}}</p>
				{% endwith %}
			{% empty %}
				<p>No service option added</p>
			{% endfor %}			              		
			
			<p>Delivery Fee</p>
			{% for deliveryoption in instance.mcart_deliveryoptions %}
				{% with deliveryoption=deliveryoption %}
					<p>{{deliveryoption.name}}</p>
					<p>${{deliveryoption.price}}</p>
				{% endwith %}
			{% empty %}
				<p>No delivery fee</p>
			{% endfor %}


			<p>Item Tax ${{instance.item_tax_price}}</p>
			<p>Item Total ${{instance.item_totalcost}}</p>

			<p>Order Delivery Information</p>
			{% for deliverydate in instance.deliverydate_list %}
				<p>Estimated Delivery Date</p>
				<p>{{ deliverydate|date:'M d Y'}} EST</p>
			{% endfor %}


		{% endwith %}
	{% endfor %}
{% else %}
	<p>No product found in your purchase order</p>
{% endif %}


<table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
	    <th width="80%" style="text-align:left; padding: 0 2.5em; color: #000; padding-bottom: 20px">Order Details</th>
	    <th width="20%" style="text-align:right; padding: 0 2.5em; color: #000; padding-bottom: 20px"></th>
	</tr>

{% if products_list %}
	{% for instance in products_list %}
		{% with instance=instance %}

		<tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
		  	<td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
		  		<div class="product-entry">
		  			<div class="text">
		  				<h3>Tracking # {{ instance.mcart.tracking_id }}</h3>

						<p>{{instance.mcart.sku|upper}}</p>
						<p>{{instance.mcart.title|title}}</p>
						<p>
							{% if instance.mcart.final_price == instance.mcart.base_price %}
								${{instance.mcart.final_price}}
							{% else %}
								(coupon {{instance.mcart.mcart_coupons.mcoupon_given.random_string_32}} applied: ${{instance.mcart.base_price}} - ${{instance.mcart.coupon_subtract}})
								${{instance.mcart.final_price}}
							{% endif %}			              		
						</p>

						<p>Service Option(s)</p>
						{% for serviceoption in instance.mcart_serviceoptions %}
							{% with serviceoption=serviceoption %}
								<p>{{serviceoption.sku|upper}}</p>
								<p>{{serviceoption.name|title}}</p>
								<p>${{serviceoption.price}}</p>
							{% endwith %}
						{% empty %}
							<p>No service option added</p>
						{% endfor %}			              		

						<p>Delivery Option(s)</p>
						{% for deliveryoption in instance.mcart_deliveryoptions %}
							{% with deliveryoption=deliveryoption %}
								<p>{{deliveryoption.name}}</p>
								<p>${{deliveryoption.price}}</p>
							{% endwith %}
						{% empty %}
							<p>No delivery fee</p>
						{% endfor %}
		  				
						<p>Item Tax ${{instance.item_tax_price}}</p>
		  			</div>
		  		</div>
		  	</td>
		  	<td valign="middle" width="20%" style="text-align:left; padding: 0 2.5em;">
		  		<span class="price" style="color: #000; font-size: 16px;">
					<p>Item Total ${{instance.item_totalcost}}</p>		  			
		  		</span>
		  	</td>
		</tr>

		{% endwith %}
	{% endfor %}
{% else %}
	<p>
		No product found in your purchase order. May be a server issue. Please contact
		with our Customer Service department 24x7x365
	</p>
{% endif %}

</table>