<div class="row mb-5 pb-2">
  <div class="col-md-8 heading-section">
    <h2 class="mb-4">Strategy Services</h2>
    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
  </div>
</div>  
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="staff">
      <div class="text pt-3">
        <h3> <a href="{% url 'strategy_prod_details' '1' %}">{{strategy_product_list.0.title}}</a></h3>
        <span class="position mb-2">Teacher</span>
        <div class="faded">
          <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          <ul class="ftco-social text-center">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-google-plus"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="staff">
      <div class="text pt-3">
        <h3><a href="{% url 'strategy_prod_details' '2' %}">{{strategy_product_list.1.title}}</a></h3>
        <span class="position mb-2">English Teacher</span>
        <div class="faded">
          <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          <ul class="ftco-social text-center">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-google-plus"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="staff">
      <div class="text pt-3">
        <h3><a href="{% url 'strategy_prod_details' '3' %}">{{strategy_product_list.2.title}}</a></h3>
        <span class="position mb-2">Art Teacher</span>
        <div class="faded">
          <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          <ul class="ftco-social text-center">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-google-plus"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="staff">
      <div class="text pt-3">
        <h3>Monshe Henderson</h3>
        <span class="position mb-2">Science Teacher</span>
        <div class="faded">
          <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          <ul class="ftco-social text-center">
            <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
            <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
            <li class=""><a href="#"><span class="icon-google-plus"></span></a></li>
            <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center mt-4">
  <p class="mb-0"><a href="{% url 'strategy_all_serv' %}" class="btn btn-primary rounded-0">All Service</a></p>
</div>
