<p class="text-reset">
  <h4 class="fw-bolder">What happens next ?</h4>
</p>


<div class="accordion mb-6 mb-md-6" id="">

  <div class="accordion-item">
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpOne" aria-expanded="false" aria-controls="helpOne">
      <span class="me-4" id="helpOneHeading">
        Once the form is submitted with correct information
      </span>
    </div>
    <div class="accordion-collapse collapse" id="helpOne" aria-labelledby="helpOneHeading" data-bs-parent="#helpAccordionOne">
      <div class="accordion-body">
        <p class="text-reset">
          If you submit the form with correct email address, you should receive an email shortly
          confirming your submission. If you ask us any question, we will try to give you accurate
          answer along with proper reference if needed.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpTwo" aria-expanded="false" aria-controls="helpTwo">
      <span class="me-4" id="helpTwoHeading">
        Our response time
      </span>
    </div>
    <div class="accordion-collapse collapse" id="helpTwo" aria-labelledby="helpTwoHeading" data-bs-parent="#helpAccordionTwo">
      <div class="accordion-body">
        <p class="text-reset">
          At this time, our response time is 30 hours.
        </p>
      </div>
    </div>
  </div>

</div>
