{% load static %}


<section data-jarallax data-speed=".8" class="py-10 py-md-10 overlay overlay-primary overlay-80 jarallax" style="background-image: url(/static/general/assets/img/3rd/customer-service/feedback1.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h2 class="display-3 fw-bold text-white">
          Submit product review.<br>Earn rewards
        </h2>
        <p class="text-white-80">
            As part of our product promotion, we are offering rewards (coupons)
            when you submit product review.
        </p>

      </div>
    </div>
  </div>
</section>
