{% extends 'inventory/layout/base_form_submission.html' %}


{% block left_column %}
    <div class="mb-6">  
        {% include 'guestactions/product-review/before-you-submit.html' %}
    </div>
    <div class="mb-6">      
        {% include 'guestactions/product-review/what-happens-next.html' %}
    </div>
{% endblock %}


{% block right_column %}

    <div class="row mb-md-8 mb-6">
        <div class="col">
          <h2 class="fw-bolder mb-0">{{pg_headline}}</h2>
        </div>
    </div>

    {% if messages %}
    <div class="row mb-md-8 mb-6">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card border">
                <div class="card-body">
					{% include 'guestactions/product-review/form-body.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
