<p class="text-reset">
  <h4 class="fw-bolder">What happens next ?</h4>
</p>

<div class="accordion mb-6 mb-md-6" id="helpAccordionOne">
  <div class="accordion-item">

    <!-- Button -->
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpOne" aria-expanded="false" aria-controls="helpOne">

      <!-- Title -->
      <span class="me-4" id="helpOneHeading">
        Once the form is submitted with correct information
      </span>

    </div>

    <!-- Collapse -->
    <div class="accordion-collapse collapse" id="helpOne" aria-labelledby="helpOneHeading" data-bs-parent="#helpAccordionOne">
      <div class="accordion-body">

        <!-- Text -->
        <p class="text-gray-700">
			<ul class="icon-list">
				<li>
				Your order has been processed 10% or 25% or 50% and so on.
				</li>
				<li>
				Your order is 100% processed. Waiting in delivery queue.
				</li>              
				<li>
				Your order is in delivery queue. Ready to be deliverd at anytime.
				</li>
				<li>
				For some reasons, your order processing is taking some more time 
				than expected. If eventually it is delivered late, we will return
				your delivery fee, if any.
				</li>              
			</ul>          
        </p>


      </div>
    </div>

  </div>
  <div class="accordion-item">

    <!-- Button -->
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpTwo" aria-expanded="false" aria-controls="helpTwo">

      <!-- Title -->
      <span class="me-4" id="helpTwoHeading">
        Our response time
      </span>

    </div>

    <!-- Collapse -->
    <div class="accordion-collapse collapse" id="helpTwo" aria-labelledby="helpTwoHeading" data-bs-parent="#helpAccordionOne">
      <div class="accordion-body">

        <!-- Text -->
        <p class="text-gray-700">
          TBA
        </p>

      </div>
    </div>

  </div>
  <div class="accordion-item">

    <!-- Button -->
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpThree" aria-expanded="false" aria-controls="helpThree">

      <!-- Title -->
      <span class="me-4" id="helpThreeHeading">
        If you submit the form with wrong information
      </span>

    </div>

    <!-- Collapse -->
    <div class="accordion-collapse collapse" id="helpThree" aria-labelledby="helpThreeHeading" data-bs-parent="#helpAccordionOne">
      <div class="accordion-body">

        <!-- Text -->
        <p class="text-gray-700">
          We didnot find any order with the information you inserted.
        </p>

      </div>
    </div>

  </div>
  <div class="accordion-item">

    <!-- Button -->
    <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpFour" aria-expanded="false" aria-controls="helpFour">

      <!-- Title -->
      <span class="me-4" id="helpFourHeading">
        Before numerous false submission
      </span>

    </div>

    <!-- Collapse -->
    <div class="accordion-collapse collapse" id="helpFour" aria-labelledby="helpFourHeading" data-bs-parent="#helpAccordionOne">
      <div class="accordion-body">

        <!-- Text -->
        <p class="text-gray-700">
          If you submit the form with wrong information more than 5 times in 30 mins, we will flag your account
        </p>

      </div>
    </div>

  </div>
</div>


