{% for object in object_list %}

    <div class="card">
      <div class="card-body">
        <p class="fs-sm text-muted fw-bolder mb-0">{{object.sku | upper}}</p>
        <p class="fw-bolder text-primary">
          <a class="" href="{% url 'proflevel_prod_details' object.id %}">{{object.title | capfirst}}</a>
        </p>
        <p class="fs-sm text-reset mb-0">{{object.description | capfirst}}</p>
        <p class="fs-sm mb-0">
          <span class="text-muted">Price: ${{object.listprice}}</span> 
          <span class="text-danger">Current offer: ${{object.saleprice}}</span>
        </p>
        <p class="fs-sm text-reset mb-0">Category: {{object.category | capfirst}}</p>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 mb-6">

            <!-- Heading -->
            <h4 class="fs-sm mb-0">Features</h4>

            <!-- List -->
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-light mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="fs-sm mb-0">
                Number of service options available: {{ object.mprod_prei20_serviceoption_set.count }}
              </p>
            </div>
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-light mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="fs-sm mb-0">
                Price range may vary from $0.99 to $15.99
              </p>
            </div>
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-light mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="fs-sm mb-0">
                Delivery time starts from as early as 3 days
              </p>
            </div>
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-light mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="fs-sm mb-0">
                Order cancellation time 24 hours
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>

{% empty %}
  <h1>no service added</h1>
{% endfor %}
