{% load static %}

<!-- EXP180 -->
<div class="row align-items-center">
  <div class="col-12 col-md-5 col-lg-4" data-aos="">

    <!-- Heading -->
    <h1 class="">
      Exp180 services are designed 
      to <span class="text-primary">redefine the layout </span>of  your resume
    </h1>

    <p><a class="btn btn-black" href="{% url 'exp180_services_all' %}">Show all</a></p>
    <p><a class="text-black" href="{% url 'exp180_services_bycat' 'basic' %}" >Show by category</a></p>

  </div>
  <div class="col-12 col-md-7 col-lg-7 offset-lg-1">

    <!-- Card -->
    <div class="card card-border border-primary shadow mb-6" data-aos="">
      <div class="card-body">

        <!-- List group -->
        <div class="list-group list-group-flush">
          {% for cp in servicelist_exp180 %}
            <div class="list-group-item d-flex align-items-center">
              <div class="me-auto">
                <p class="fw-bold mb-1">
                  <a class="fw-bolder text-primary text-decoration-none" href="{% url 'exp180_detail_view_link' cp.id  %}">{{cp.title | capfirst}}</a>
                </p>
                <p class="fs-sm text-muted mb-0">${{cp.listprice}}</p>
                <p>{{cp.category}}</p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>


  </div>
</div>
