    <div class="team-area fix pt-70 pb-70">
      <div class="bg-1 style-2 overlay pt-80 pb-230">
        <div class="z-index text-white text-center">
          <h2 class="featurette-heading">Campus insights <br>that will make your life easier</h2>
          <p>A crew of experienced educators helm our vast and growing library. Harness their expertise, and get the same <br/> award-winning learning materials that are used by teachers in millions of classrooms.</p>
        </div>
      </div>
      <div class="container mt-minus-150 z-index">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="row team-carousel">
              <div class="col-lg-4">
                <div class="team-single">
                  <div class="team-thumb">
                    <img src="/static/general/assets/images/team/1.jpg" alt="" />
                  </div>
                  <div class="team-info">
                    <h4>Mr. John Wick</h4>
                    <small>Materials</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="team-single">
                  <div class="team-thumb">
                    <img src="/static/general/assets/images/team/2.jpg" alt="" />
                  </div>
                  <div class="team-info">
                    <h4>Mr. Tom Redder</h4>
                    <small>Financial</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="team-single">
                  <div class="team-thumb">
                    <img src="/static/general/assets/images/team/3.jpg" alt="" />
                  </div>
                  <div class="team-info">
                    <h4>Ms. Lara Croft</h4>
                    <small>Organic Chemistry</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="team-single">
                  <div class="team-thumb">
                    <img src="/static/general/assets/images/team/1.jpg" alt="" />
                  </div>
                  <div class="team-info">
                    <h4>Mr. John Wick</h4>
                    <small>Materials</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>