
  <div class="container">
    <div class="row align-items-center">
      <div class="p-6 col-12 col-md-12">

        <!-- Heading -->
        <h2 class="fw-bolder">
          Take advantage of our
          best in class
          Customer Service <span class="fw-bolder text-primary">seven days a week</span>
        </h2>

        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="text-muted">
                365 days a year
              </p>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="d-flex">
              <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                <i class="fe fe-check"></i>
              </div>
              <p class="text-muted">
                Around the clock 24x7
              </p>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="d-flex">
              <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                <i class="fe fe-check"></i>
              </span>
              <p class="text-muted">
                Not a BOT-style response
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <p class="text-muted">
            Our customer service team remains stand-by through out the calendar year, 365 days a year, and seven days a week. 
            Our customer service is not a robotic answer, it comprises with real human being. 
            So, feel free to reach out to them with any question at any time.


          </p>
        </div>

      </div>
    </div>
  </div>
