{% load static %}


<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">

    <!-- Heading -->
    <h2>
      Get a Coupon Code before purchase
    </h2>

    <!-- Text -->
    <p class="fs-lg text-muted mb-7 mb-md-9">
      We don't like to brag, but we don't mind letting our customers do it for us. Here are a few nice things folks have said about our themes over the years.
    </p>

  </div>
</div>

<div class="row">
  <div class="col-12">

    <!-- Card -->
    <div class="card card-row mb-6">
      <div class="row gx-0">
        <div class="col-12 col-md-6">

          <!-- Slider -->
          <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
            <a class="card-img-start w-100 bg-cover" style="background-image: url(/static/general/assets/img/photos/photo-8.jpg);" href="#!">

              <!-- Image (placeholder) -->
              <img src="assets/img/photos/photo-1.jpg" alt="..." class="img-fluid d-md-none invisible">

            </a>
            <a class="card-img-start w-100 bg-cover" style="background-image: url(/static/general/assets/img/photos/photo-7.jpg);" href="#!">

              <!-- Image (placeholder) -->
              <img src="{% static 'general/assets/img/photos/photo-26.jpg' %}" alt="..." class="img-fluid d-md-none invisible">

            </a>
          </div>

        </div>
        <div class="col-12 col-md-6 position-md-static">

          <!-- Slider -->
          <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="blogSlider">
            <div class="w-100">

              <!-- Body -->
              <div class="card-body">
                <blockquote class="blockquote text-center mb-0">

                  <!-- Brand -->
                  <div class="row justify-content-center mb-5 mb-md-7">
                    <div class="col-6 col-sm-4 col-md-7 col-lg-8">

                      <p class="mb-5 mb-md-7">
                        <h3 class="">
                          Upload your resume for quick feedback
                        </h3>
                        <p class="fs-sm">
                          You will get a coupon code as soon as you upload your resume
                          for a free analysis
                        </p>
                      </p>

                    </div>
                  </div>


                  <!-- Footer -->
                  <footer class="blockquote-footer">
                    <span class="h6 text-uppercase">Dave Gamache</span>
                  </footer>

                </blockquote>
              </div>

            </div>
            <div class="w-100">

              <!-- Body -->
              <div class="card-body">
                <blockquote class="blockquote text-center mb-0">

                  <div class="row justify-content-center mb-5 mb-md-7">
                    <div class="col-6 col-sm-4 col-md-7 col-lg-8">

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        <h3 class="">
                          Participate in Site Survey
                        </h3>
                        <p class="fs-sm">
                          Spend upto Two minutes to complete a super 
                          simple survey form, and get coupon
                        </p>
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Russ D'Sa</span>
                      </footer>

                    </div>
                  </div>
                  
                </blockquote>
              </div>

            </div>
          </div>

        </div>
      </div> <!-- / .row -->
    </div>

  </div>
</div>
