{% load static %}



    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h2 class="fw-bold">How we ensure purchase easiness ?</h2>
      </div>
    </div> <!-- / .row -->
    <div class="row gx-0 mb-7 mb-md-9">
      <div class="col-12 col-md-4 text-center">

        <div class="row mb-5">
          <div class="col">

            <!-- Placeholder -->

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12 11a4 4 0 110-8 4 4 0 010 8z" fill="#335EEA" opacity=".3"/><path d="M3 20.2c.388-4.773 4.262-7.2 8.983-7.2 4.788 0 8.722 2.293 9.015 7.2.012.195 0 .8-.751.8H3.727c-.25 0-.747-.54-.726-.8z" fill="#335EEA"/></g></svg>                </div>

          </div>
          <div class="col">

            <!-- Divider -->
            <hr class="d-none d-md-block">

          </div>
        </div> <!-- / .row -->

        <!-- Headin -->
        <h3 class="fw-bolder">
          Choose your service
        </h3>

        <!-- Text -->
        <p class="fs-sm text-muted mb-6 mb-md-0 px-5">
          Choose a service that suits best to your needs, customize it with
          service options and delivery timeline
        </p>

      </div>
      <div class="col-12 col-md-4 text-center">

        <div class="row mb-5">
          <div class="col">

            <!-- Divider -->
            <hr class="d-none d-md-block">

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.747 13.043A6 6 0 1114.811 6.5h2.439a3.75 3.75 0 010 7.5h-9c-.962 0-1.84-.362-2.503-.957z" fill="#335EEA" opacity=".3"/><path d="M9.032 19.492h1.956V21.5a.5.5 0 00.5.5h1.024a.5.5 0 00.5-.5v-2.008h1.956a.5.5 0 00.382-.823l-2.968-3.505a.5.5 0 00-.764 0L8.65 18.669a.5.5 0 00.382.823z" fill="#335EEA"/></g></svg>                </div>

          </div>
          <div class="col">

            <!-- Divider -->
            <hr class="d-none d-md-block">

          </div>
        </div> <!-- / .row -->

        <!-- Headin -->
        <h3 class="fw-bolder">
          Upload your resume
        </h3>

        <!-- Text -->
        <p class="fs-sm text-muted mb-6 mb-md-0 px-5">
          We will require you to upload your resume with each order, 
          so please keep it handy while making a purchase
        </p>

      </div>
      <div class="col-12 col-md-4 text-center">

        <div class="row mb-5">
          <div class="col">

            <!-- Divider -->
            <hr class="d-none d-md-block">

          </div>
          <div class="col-auto">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 7a1 1 0 110-2h8a4 4 0 110 8H8a2 2 0 100 4h9a1 1 0 010 2H8a4 4 0 110-8h8a2 2 0 100-4H8z" fill="#335EEA" opacity=".3"/><path d="M9.707 8.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 1.414L7.414 6l2.293 2.293zM14.293 20.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 00-1.414 1.414L16.586 18l-2.293 2.293z" fill="#335EEA"/></g></svg>                </div>

          </div>
          <div class="col">

            <!-- Placeholder -->

          </div>
        </div> <!-- / .row -->

        <!-- Headin -->
        <h3 class="fw-bolder">
          Complete the payment
        </h3>

        <!-- Text -->
        <p class="fs-sm text-muted mb-0 px-5">
          We support several payment options such as Debit Card, Credit Card
        </p>

      </div>
    </div>

