{% load static %}



        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheader -->
            <h6 class="text-uppercase text-primary" data-aos="">
              introducing
            </h6>

            <!-- Headin -->
            <h1 class="display-1 fw-bolder" data-aos="" data-aos-delay="50">
              Job Search 2.0
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-6" data-aos="" data-aos-delay="100">
              A culture that offers a job search candidate an arsenal of tools
              which they can apply to evaluate the possibility of landing an
              interview in real-time so that they can have a practical hope
              about the outcome of a job application.
            </p>

          </div>
        </div>
        

        <div class="row">
          <div class="col-12" data-aos="" data-aos-delay="200">

            <!-- Video -->
            <div class="ratio ratio-16x9">
              <img class="img-fluid w-75 w-md-100 mb-6 mb-md-0" src="{% static 'general/assets/img/3rd/products/strategy/businessman_generated.jpg' %}" alt="...">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can
                and watch it with your favorite video player!
              </video>
            </div>

          </div>
        </div>


