{% load static %}


    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-5">

            <!-- Blockquote -->
            <blockquote class="blockquote text-center">
              <!-- Text -->
              <p class="mb-5 mb-md-7">
                Our mission is to help a candidate take control of the job search process
                so that they can beat the odds, lower down the rejection rate,
                and land a job in style
              </p>

              <!-- Footer -->
              <footer class="blockquote-footer mb-8 mb-md-0">
                <div class="avatar me-3">
                  <img src="assets/img/avatars/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                </div> <span class="h6 text-uppercase">Bill Callan</span>
              </footer>

            </blockquote>

          </div>
          <div class="col-12 col-md-1 border-end my-n8 my-md-n11 d-none d-md-block"></div>
          <div class="col-12 col-md-5 offset-md-1">

            <!-- Blockquote -->
            <blockquote class="blockquote text-center">

              <!-- Text -->
              <p class="mb-5 mb-md-7">
                Our vision is to help and 
              </p>

              <!-- Footer -->
              <footer class="blockquote-footer mb-0">
                <div class="avatar me-3">
                  <img src="assets/img/avatars/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
                </div> <span class="h6 text-uppercase">Jacob Thornton</span>
              </footer>

            </blockquote>

          </div>
        </div>
      </div>
    </section>
    