<div class="row align-items-center justify-content-between">
  
  <div class="col-12 col-md-5 order-md-1">

    <h3 class="fw-bolder">Relevant Exp180 Services you may like</h3>

    <p class="fs-sm text-muted mb-6 mb-md-0">
      We put our money where our mouthes are. Once you're part of our team, we're going to take the best possible care of you with tons of benefits and perks unavailable anywhere else.
    </p>

  </div>
  
  <div class="col-12 col-md-6 order-md-2">


    <!-- Card -->
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for i in recomm_product_list %}
            <div class="list-group-item d-flex align-items-center">
              <div class="me-auto">
                <p class="fw-bold mb-1">
                  <a href="{% url 'prei20_detail_view_link' i.id %}">{{i.title | capfirst}}</a>
                </p>
                <p class="fs-sm mb-0">
                  Price: <span class="text-muted">${{i.saleprice}}</span>
                  Current offer: <span class="text-success">${{i.listprice}}</span>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>



  </div>
</div>
