{% load static %}


<div class="row">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'general/assets/img/portfolio/portfolio-1.jpg' %}" alt="..." class="card-img">
        </div>
        <div class="col-md-8">

            <h2 class="display-3 fw-bolder text-dark">Secured Transaction</h2>
            <p class="card-text">
                      We use state-of-the-art 256-bit encryption payment processing system
                      and you can pay by Debit card, Credit card
            </p>

        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8 col-lg-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'general/assets/img/portfolio/portfolio-2.jpg' %}" alt="..." class="card-img">
        </div>
        <div class="col-md-8">

            <h2 class="display-3 fw-bolder text-dark">Shop with confidence</h2>
            <p class="card-text">
              We never ask for information that we donot need to complete a transaction, and we never 
              save your credit card information
            </p>

        </div>
      </div>
    </div>
  </div>       
</div>
