    <section data-jarallax data-speed=".8" class="pt-10 pt-md-14 pb-12 pb-md-15 overlay overlay-primary overlay-80 jarallax" style="background-image: url(assets/img/covers/cover-6.jpg);">

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">

            <!-- Heading -->
            <h1 class="display-1 fw-bold text-white mb-6 mt-n3">
              Take control of your job search process
            </h1>

            <!-- Button -->
            <a class="btn btn-rounded btn-white shadow" data-bigpicture='{"ytSrc": "9I-Y6VQ6tyI"}' href="#">
              <i class="fe fe-eye me-2"></i>
              How we can help
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

      <!-- Shape -->
      <div class="position-absolute right-0 bottom-0 left-0">

        <!-- Shape -->
        <div class="position-relative shape shape-bottom shape-fluid-x text-white">
          <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"/></svg>        </div>

        <!-- Button -->
        <div class="position-absolute center">
          <a class="btn btn-light btn-rounded-circle lift" data-scroll href="#payItDown">
            <i class="fe fe-arrow-down"></i>
          </a>
        </div>

      </div>

    </section>
