
<div class="row">

    <div class="col-6 col-md-12 col-lg-6 bg-light">

      <p class="p-5">

        <a class="btn btn-sm btn-link" href="./coworking.html">
          Express Services
        </a>
        <a class="btn btn-sm btn-link" href="./rental.html">
          Check Order Status
        </a>
        <a class="btn btn-sm btn-link" href="./job.html">
          Advanced Servies
        </a>
        <a class="btn btn-sm btn-link" href="./desktop-app.html">
          24x7 Customer Service
        </a>
        <a class="btn btn-sm btn-link" href="./mobile-app.html">
          Get a Free Analysis
        </a>
        <a class="btn btn-sm btn-link" href="./index.html">
          OPT Visa
        </a>
        <a class="btn btn-sm btn-link" href="./startup.html">
          Get Coupon Codes
        </a>
        <a class="btn btn-sm btn-link" href="./enterprise.html">
          Universal Services
        </a>
        <a class="btn btn-sm btn-link" href="./service.html">
          Privacy Policy
        </a>
        <a class="btn btn-sm btn-link" href="./cloud.html">
          Service Personalization
        </a>
        <a class="btn btn-sm btn-link" href="./agency.html">
          Refund Policy
        </a>

      </p>

    </div>


    <div class="col-12 col-lg-6 bg-light">
          <div class="p-5">
            <h5 class="mt-0 fw-bolder">Quick Links</h5>
            <p>Click on a link to get access to a resource quickly.
            One of the core missions of CampusLinker is not only providing a service, but also make sure that is quick and accurate, and heavily personalized that meets the exact needs of a Job Search candidate.
            </p>
            <p>
            Because with all purchases we offer 24-hour cancellation option, you can shop with us very confidently.

            </p>
          </div>
    </div>


</div>

