{% load static %}

<div class="row">
  <div class="col-12">

    <!-- Heading -->
    <h2 class="mb-6">
      What is CampusLinker ?
    </h2>
      <span class="badge bg-light badge-float badge-float-inside">
        <span class="h6 text-uppercase">Know More</span>
      </span>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 d-flex">

      <div class="card mb-6 mb-lg-0 border bg-light">

        <!-- Image -->
        <a class="card-img-top" href="#!">
          <img src="{% static 'general/assets/img/photos/photo-7.jpg' %}" alt="..." class="img-fluid">
        </a>

        <!-- Body -->
        <div class="card-body" href="#!">
          <h3 class="fw-bolder">
            CampusLinker is not a typical job site
          </h3>
          <p class="mb-0 text-muted">
            <ul>

              <li class="fs-sm">We don't offer the same services as traditional job sites, where you simply apply for jobs online. Instead, we specialize in resume optimization and analysis to help job seekers stand out in today's competitive job market. 
              </li>
              <li class="fs-sm">We understand that no one knows your profile and background better than you, so we don't write or build your resume from scratch. Instead, our state-of-the-art AI based systems provide personalized guidance and feedback to help you optimize your current resume and showcase your strengths and achievements effectively to potential employers
              </li>

            </ul>
          </p>

        </div>


      </div>


  </div>
  <div class="col-12 col-md-6 d-flex">

      <div class="card mb-6 mb-lg-0 border bg-light">
        <a class="card-img-top" href="#!">
          <img src="{% static 'general/assets/img/photos/photo-7.jpg' %}" alt="..." class="img-fluid">
        </a>
        <div class="card-body" href="#!">
          <h3 class="fw-bolder">
            This is a resume analysis service
          </h3>
          <p class="mb-0 text-muted">
            <ul>

              <li class="fs-sm">At CampusLinker, we offer a unique resume analysis service that sets us apart from other providers. Our platform provides personalized guidance to job seekers by analyzing how their resumes are reviewed by recruiters and hiring managers
              </li>
              <li class="fs-sm">As a first-of-its-kind service, we strive to help candidates optimize their resumes to stand out in today's competitive job market. With our advanced analysis tools and expert guidance, we provide a comprehensive evaluation of your resume, highlighting its strengths and areas for improvement, and equipping you with the skills and knowledge needed to succeed in your job search
              </li>

            </ul>
          </p>
        </div>
      </div>
  
  </div>
</div>


