{% load static %}


<section data-jarallax data-speed=".8" class="py-6 py-md-7 overlay overlay-white overlay-80 jarallax" style="background-image: url(/static/general/assets/img/covers/cover-8.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-1- col-lg-10">

        <div class="row align-items-center">
          <div class="col-12 col-md-7 order-md-2 bg-white p-5">
              <ul class="h3 fw-bold">
                <li class="mt-4">You can submit order feedback and earn coupon for the next purchase</li>
                <li class="mt-4">You can view your entire order history</li>
                <li class="mt-4">You can submit order cancellation request</li>
                <li class="mt-4">You will have options to use previliged communication channel with the customer service team</li>
              </ul>
            <p class="text-muted mb-0">
              <a class="btn btn-sm btn-black rounded-0" href="{% url 'usvisa_home' %}">Signup Now</a>
            </p>
          </div>

          <div class="col-12 col-md-5 order-md-1 p-3">
            <h2 class="display-4 fw-bolder">Why signup with CampusLinker ?</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
