{% load static %}


        <div class="p-10 row align-items-center">
          <div class="col-12 col-md-4 order-md-2">
            <img src="{% static 'general/assets/img/illustrations/illustration-2.png' %}" class="img-fluid mb-6 mb-md-0" alt="...">
          </div>
          <div class="col-12 col-md-8 order-md-1">

            <!-- Heading -->
            <h2 class="display-5 text-white fw-bolder">
              Are you in the job market looking for a job or job change while on
              <span class="text-warning">H1B work visa?</span>
            </h2>

            <!-- Text -->
            <p class="text-muted">
              Helping and guiding job seekers with international student visa
              is one of our top priorities. That's whay we have a whole new service line for this category.
              Through Bandwidth we are offerings services to Five VISA categories such as CPT, OPT. Learn more 
              about <a class="text-warning" href="{% url 'usvisa_home' %}">Bandwidth</a>
            </p>

          </div>
        </div>
