{% load static %}


<div class="row">
  <div class="col-12 col-md-4" data-aos="">

    <!-- Card -->
    <div class="card mb-6 mb-md-0">
      <div class="card-body position-relative">

        <h3>
          Learn About Product Delivery Methods
        </h3>

        <!-- Text -->
        <p class="text-muted">
          Learning about our product delivery methods will help you
          understand the wide range of flexibility you will enjoy
          when you make purchase with us
        </p>

        <!-- Link -->
        <a href="#!" class="fw-bold text-decoration-none">
          See details <i class="fe fe-arrow-right ms-3"></i>
        </a>

      </div>

    </div>

  </div>
  <div class="col-12 col-md-4" data-aos="" data-aos-delay="">

    <!-- Card -->
    <div class="card mb-6 mb-md-0">
      <div class="card-body position-relative">
        <h3>
          Learn How It Works
        </h3>

        <!-- Text -->
        <p class="text-muted">
          A personal space to leave your computer, monitor, and supplies with unlimited access.
        </p>

        <!-- Link -->
        <a href="#!" class="fw-bold text-decoration-none">
          Know more <i class="fe fe-arrow-right ms-3"></i>
        </a>

      </div>

    </div>

  </div>
  <div class="col-12 col-md-4" data-aos="" data-aos-delay="">

    <!-- Card -->
    <div class="card">
      <div class="card-body position-relative">
        <h3>
          Get Maximum Benefits
        </h3>

        <!-- Text -->
        <p class="text-muted">
          Need a private space? We have all sizes of offices from 400² ft. available up to 3100² ft.
        </p>

        <!-- Link -->
        <a href="#!" class="fw-bold text-decoration-none">
          Signup before purchase <i class="fe fe-arrow-right ms-3"></i>
        </a>

      </div>

    </div>

  </div>
</div>
