<h2 class="text-primary fs-sm fw-bolder">Servic5785e Ad-ons</h2>

{% if qs_service_options %}
  <div class="col-12 col-md-8  p-2 mb-2">
      {% for item in qs_service_options %}
        <p class="mb-0 fw-bold">
          <input type="checkbox"
                class="service_option"
                id="{{item.pk}}"
                price="{{item.price}}"
                name="option"
                product="{{item.id}}"
                {% if item.ndb_checked %}
                  checked="checked"
                {% endif %}
                {% if disable_item %}
                  disabled=true
                {% endif %}
                value="{{item.name}}"/>{{item.name | capfirst}}</p>

            {% comment "Optional note" %}
                Display slashed out version of price if there is a sale going on.
            {% endcomment %}
          <p class="mb-0"><span class="mx-3">SKU:<span class="small fw-bolder">{{ item.sku | upper}}</span></p>
          <p class="mb-0"><span class="ps-3">Price: 
            {% if item.listprice > item.price %}
              <span class="text-danger ps-3"><del>${{ item.listprice }}</del></span>
            {% endif %}
            <span class="small fw-bolder">${{ item.price }}</span></span>
          </p>
      

        {% if forloop.last %}
          <h1></h1>
        {% else %}
          <h1><hr class="border border-dark-soft"></h1>
        {% endif %}

      {% endfor  %}
  </div>
{% else %}
  <span class="text-danger">nothing added yet</span>
{% endif %}
