{% extends 'base_v3.html' %}


{% block meta %}
  <title>Home | CampusLinker</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}


{% block content %}



  {% include 'resumeweb/components/submit-conf-general.html' %}







  <!-- PRODUCT HIGHLIGHT SECTION -->


  {% include 'general/pg-contents/product-intro/exp180.html' %}


  {% include 'general/pg-contents/product-intro/referral.html' %}


  {% include 'general/pg-contents/product-intro/dialogue.html' %}    


  {% include 'general/pg-contents/product-intro/staircase.html' %}


  {% include 'general/pg-contents/product-intro/bd.html' %}


  {% include 'general/pg-contents/product-intro/dialect.html' %}


  {% include 'general/pg-contents/product-intro/strategy.html' %}


  {% include 'general/pg-contents/product-intro/id.html' %}


  {% include 'general/pg-contents/product-intro/adhoc.html' %}    




{% endblock %}
