
    <h4 class="fs-sm fw-bolder">Product FAQs</h4>
    <hr class="text-dark">
    <ul class="fs-sm text-reset">
      <li><a href="{% url 'prei20_faq' %}">Prei20</a></li>
      <li><a href="{% url 'adhoc_faq' %}">Adhoc</a></li>
      <li><a href="{% url 'posti20_faq' %}">Dialect</a></li>
      {% comment %} <li><a href="{% url 'intprep_faq' %}">Dialogue</a></li>
      <li><a href="{% url 'usvisa_faq' %}">Bandwidth</a></li>
      <li><a href="{% url 'identity_faq' %}">Identity</a></li>
      <li><a href="{% url 'proflevel_faq' %}">Staircase</a></li>
      <li><a href="{% url 'stratsol_faq' %}">Strategy</a></li>   {% endcomment %}
    </ul>


