
<ul class="list-unstyled footer-menu">
    <li>Product Insights
        <ul class="footer-intmenu-ul">
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url ' compare_all_services_link' %}">Product Comparison</a>
            </li>
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url 'prod_faq' %}">Product FAQ</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="list-unstyled footer-menu">
    <li class="">Customer Service
        <ul class="footer-intmenu-ul">
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url 'guestactions:contact_us_guest' %}">Home</a>
            </li>
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url 'guestactions:contact_us_guest' %}">Contact Us</a>
            </li>
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="">Check My Order Status</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="list-unstyled footer-menu">
    <li class="">About Us
        <ul class="footer-intmenu-ul">
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url 'about_us' %}">Our Story</a>
            </li>
            <li class="footer-li-links">
              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              <a class="text-muted" href="{% url 'mydocumentations:faq_gen' %}">General FAQ</a>
            </li>
        </ul>
    </li>
</ul>
