<div class="col-md-10 pl-0">
  <h4>Our Specialization</h4>
  <hr>
  <p>Remember! Job descriptions are not always written by the technical people,
    as a result they can be confusing sometimes. And, it's a common scenario
    in tech jobs.
  </p>
  <p>

  <ul class="list-unstyled">

    <li class="bg-transparent border-0 p-1">
      specialization 1
    </li>

    <li class="bg-transparent border-0 p-1">
      specialization 2
    </li>


    <li class="bg-transparent border-0 p-1">
      specialization 3
    </li>


  </ul>
  <a href="{% url 'intprep_specialization' %}">Learn More</a>
</div>
