<div class="col-md-4 p-3 rounded-0 subsection-colors">
  <h6 class="border-bottom border-gray pb-2 mb-0">Know Before You Go</h6>
  <div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
      We highly encourage you to learn about the following Know before you go and application.
    </p>
  </div>
  <ul>
    <li>Who is eligible to apply</li>
    <li>Terms & conditions you must agree with</li>
  </ul>
  <a class="btn btn-primary" href="{% url 'referral_how_it_works' %}">Learn More</a>
</div>
