<div class="col-md-10 p-3 mb-3 border-0 ccv1-bg-secondary">
  <h6 class="">FAQ Other Products</h6>
  <ul class="list-unstyled">
    <li class="btn-link text-muted">
      <a href="">Interview Prep</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Ad-hoc</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Referral</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Prof Level</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Strategy</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">VISA Restrictions</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Role Type</a>
    </li>
    <li class="btn-link text-muted">
      <a href="">Language Based Services</a>
    </li>
  </ul>
</div>

<div class="col-xs-12 vertical-gap" style="padding:1rem;"></div>
