<div class="p-3 rounded shadow-sm subsection-colors">
  <h3 class="border-bottom border-gray pb-2 mb-0">Other Services</h3>
  <div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
      We highly encourage you to learn about the service Know before you go and application.
    </p>
  </div>
  <a class="btn btn-primary" href="{% url "referral_how_it_works" %}">How It Works</a>

  <div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <a class="btn btn-primary" href="">Product FAQ</a>
</div>
<p>&nbsp;</p>
