<div class="card">
    <h5 class="card-header">
      Current Openings
    </h5>
    <div class="card-body">
      Currently We are Accepting Referral Request ONLY for the for the following positions
      <div class="some-gap m-3"></div>
      <ol>
        <li>[+] Software Developer
          <ul>
            <li>List item</li>
            <li>List item</li>
          </ul>
        </li>
        <li>[+] Software Developer
          <ul>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ul>
      </ol>

      <a href="{% url "referral_pos_list" %}">Show Complete List</a>
    </div>
</div>
