{% if faq_section == 'exp180' %}
	{% include 'mydocumentations/productdocs/pg-contents/faq/ques-ans.html' %}
{% endif %}


{% if faq_section == 'dialogue' %}
	{% include 'mydocumentations/productdocs/pg-contents/faq/ques-ans.html' %}
{% endif %}


{% if faq_section == 'dialect' %}
	{% include 'productdocs/pg-contents/faq/ques-ans' %}
{% endif %}


{% if faq_section == 'bandwidth' %}
	{% include 'productdocs/pg-contents/faq/ques-ans' %}
{% endif %}


{% if faq_section == 'identity' %}
	{% include 'mydocumentations/productdocs/pg-contents/faq/ques-ans.html' %}
{% endif %}


{% if faq_section == 'strategy' %}
	{% include 'mydocumentations/productdocs/pg-contents/faq/ques-ans.html' %}
{% endif %}


{% if faq_section == 'staircase' %}
	{% include 'mydocumentations/productdocs/pg-contents/faq/ques-ans.html' %}
{% endif %}
