<div class="col-xs-12 vertical-gap" style="padding:1rem;"></div>


<div class="card rounded-0">
  <div class="card-header">
    <h4 class="">Trending Now</h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
        <!-- {% for object in object_list %} -->
          <li class="media">
            <div class="media-body text-muted">
              <h5 class="mt-0 mb-1">
                <a href="{% url "prei20_detail_view_link" object.id %}">{object.title | title }</a>
              </h5>
              <p class="card-text text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!
              </p>
              <span class="">Listing Price:<del>${{ object.price }}</del></span>
              <span class="">Current Offer:<span class="text-danger">${{ object.saleprice }}</span>
              <span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                Additional Service Available
              </span>
              <span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                Quick Delivery Available
              </span>
            </div>
          </li>
        <!-- {% endfor %} -->
    </ul>
  </div>
</div>


<div class="col-xs-12 vertical-gap" style="padding:1rem;"></div>


<div class="my-3 p-3 rounded shadow-sm subsection-colors">
  <h4 class="border-bottom border-gray pb-2 mb-0">Trending Now</h4>
  <div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
      We highly encourage you to learn about the service Know before you go and application.
    </p>
  </div>
  <a class="btn btn-primary" href="{% url "referral_how_it_works" %}">How It Works</a>

  <div class="media pt-3">
    <p class="media-body pb-3 mb-0 lh-125">
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <a class="btn btn-warning" href="">Product FAQ</a>
</div>



<div class="col-xs-12 vertical-gap" style="padding:1rem;"></div>
