<div class="p-3 mb-3 border-0 ccv1-bg-secondary">
  <h3 class="ccv1-primary-text">What is CampusLinker</h3>
  <p>this is a online resume analysis software</p>
  <h3 class="ccv1-primary-text">Why CampusLinker</h3>
  <p>
    It is the only online service available in the
    market that provides you with 360 degree services in your job search process.
    It offers you quick services and long-term solutions such as
    Referral Programs. No membership is required to get our services.
    And we are super quick to offer you solutions

  </p>
  <a href="{% url 'whatisresumenalizer' %}" class="btn-link">Learn More</a>
</div>
