<p style="">      
    We understand the importance of resolving disputes efficiently and with utmost care. Our dedicated team is committed to handling your dispute application with the highest level of professionalism and expertise. From thorough investigation to clear communication, we prioritize your concerns and work diligently to find fair and satisfactory resolutions.
</p>

<p style="">
    Rest assured that your case is in capable hands, and we are here to guide you through the process, ensuring a smooth and just resolution to your dispute. Your peace of mind is our priority.
</p>

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
      <td valign="middle" class="footer email-section">
          <table>       
              <tr>
                  <td valign="top" width="60%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-right: 10px;">
                                  {% include 'mymailroom/components/file_dispute/order-details.html' %}
                              </td>
                          </tr>
                      </table>
                  </td>

                  <td valign="top" width="50%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-left: 10px;">

                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>

<p style="">      
      Regardless of the timeframe, you can expect to 
      receive feedback based on the details you 
      provided in your submission. Our goal is to 
      ensure your satisfaction and meet your requirements effectively. 
</p>
