{% comment %} <a class="h6 text-muted text-decoration-none" href="{% url 'privacy_policy' %}" onclick="return false;">CampusLinker v{{app_version}} @ 2023 LegoIO LLC.</a>
&#8226;<a class="h6 text-muted" href="{% url 'privacy_policy' %}">Privacy Policy</a>
&#8226;<a class="h6 text-muted" href="{% url ' dont_sell_info' %}">Donot Sell My Info (CA)</a>
&#8226;<a class="h6 text-muted" href="{% url 'terms_of_use' %}">Terms of Use</a>
&#8226;<a class="h6 text-muted" href="{% url ' dispute_policy' %}">Dispute & Refund Policy</a>
&#8226;<a class="h6 text-muted" href="{% url ' cancel_policy' %}">Cancellation & Refund Policy</a>
&#8226;<a class="h6 text-muted" href="{% url ' cookie_policy' %}">Cookie Policy</a>
&#8226;<a class="h6 text-muted" href="{% url ' payment_policy' %}">Payment Policy</a>
&#8226;<a class="h6 text-muted" href="{% url ' security_policy' %}">Security Policy</a> {% endcomment %}
