<p style="">      
  Thank you for extending a warm welcome to your friend at CampusLinker! Your initiative is truly appreciated, and as promised, a heartfelt thank you comes with exclusive rewards. Your continued support not only enhances your own experience in our platform but also contributes to creating a vibrant community of individuals dedicated to career excellence. 
</p>

<p style="">
  For every friend you invite, rest assured, you'll receive a valuable coupon code as a token of our gratitude. We encourage you to keep spreading the word—more invitations mean more savings and shared success. Thank you for being a pivotal part of the CampusLinker community !
</p>

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
      <td valign="middle" class="footer email-section">
          <table>       
              <tr>
                  <td valign="top" width="60%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-right: 10px;">
                                  {% include 'mymailroom/components/order-details-common.html' %}
                              </td>
                          </tr>
                      </table>
                  </td>

                  <td valign="top" width="50%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-left: 10px;">

                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>

<p style="">      
      Regardless of the timeframe, you can expect to 
      receive feedback based on the details you 
      provided in your submission. Our goal is to 
      ensure your satisfaction and meet your requirements effectively. 
</p>

