<div class="row align-items-center">
  {% regroup object_list by category as service_list %}
  {% for role in service_list %}  
    <div class="row">
      <div class="col">
        <p class="mb-3">
          <a class="btn btn-xs btn-link" href="{% url 'visaassist_bycat' role.grouper %}">{{role.grouper | title}}</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">

            <div class="table-responsive mb-7 mb-md-9">
              <div class="card">
                <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <span class="h6 text-uppercase fw-bold">Role Title</span>
                          </th>
                          <th>
                            <span class="h6 text-uppercase fw-bold">Price</span>
                          </th>
                          <th>
                            <span class="h6 text-uppercase fw-bold">Current offer</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in role.list %}
                          <tr class="">
                            <td>
                                <p class="fs-sm text-muted fw-bolder mb-0">{{i.sku | upper}}</p>
                                <p class="fw-bolder text-primary mb-1">
                                  <a class="text-decoration-none" href="{% url 'visaassist_prod_details' i.id  %}">{{i.title | capfirst}}</a>
                                </p>
                                <p class="fs-sm text-reset mb-0">
                                    {{i.description | truncatechars:80 | capfirst}}
                                </p>
                            </td>
                            <td>
                                <p class="fs-sm">
                                  <span class="text-reset">${{i.listprice}}</span> 
                                </p>
                            </td>
                            <td>
                              
                                <p class="fs-sm mb-0">
                                  <span class="text-danger">${{i.saleprice}}</span>
                                </p>

                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>

      </div>
    </div>
  {% endfor %}
</div>


<div class="row pt-5">
  <div class="col-12 col-md-4 col-lg-4 col-xl-5">
    <a class="btn btn-sm btn-primary rounded-0 me-1" href="{% url 'visaassist_all_services' %}">
      Show All Services
    </a>
  </div>
</div>
