{% extends 'inventory/layout/base_prod_list.html' %}


{% block leftside_contents %}

  {% if pg_layout_type != 'All Services' %}
  
      <div class="mb-6">
        {% include 'inventory/components/posti20/cat-list.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
      </div>      
      <div class="mb-6">
        {% include 'general/components/faq-gen.html' %}
      </div>

  {% else %}

    <div class="mb-6">
      {% include 'inventory/components/posti20/about.html' %}
    </div>
    <div class="mb-6">
      {% include 'inventory/components/posti20/quick-start-guide.html' %}
    </div>
    <div class="mb-6">
      {% include 'inventory/components/posti20/cat-list.html' %}
    </div>  
    <div class="mb-6">
      {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
    </div>

  {% endif %}
{% endblock %}


{% block service_list %}
    {% include 'inventory/pg-contents/service-list-all/posti20/service-list-long.html' %}
{% endblock %}
