{% extends 'inventory/layout/base_prod_ins_pages.html' %}


{% block leftside_content %}

    {% if how_it_works_section %}  
      <div class="mb-6">
        {% include 'general/components/dialect/about.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
      </div>      
      <div class="mb-6">
        {% include 'general/components/faq-gen.html' %}
      </div>
    {% endif %}

    {% if use_cases_section %}
      <div class="mb-6">
        {% include 'general/components/ads/1-target-audi.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
      </div>
    {% endif %}

    {% if gen_pdm_section %}
      <div class="mb-6">
        {% include 'general/components/ads/1-target-audi.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
      </div>
    {% endif %}

    {% if dialect_faq_section %}
      <div class="mb-6">
        {% include 'general/components/faq-other.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/menus/products/posti20/prod-insight-1.html' %}
      </div>
      <div class="mb-6">
        {% include 'general/components/faq-gen.html' %}
      </div>      
    {% endif %}

{% endblock %}



{% block rightside_content %}
    
    {% if use_cases_section %}
      {% include 'general/pg-contents/use-cases/dialect/001-list.html' %}
    {% endif %}

    {% if how_it_works_section %}
      {% include 'general/pg-contents/how-it-works/001-list.html' %}
    {% endif %}

    {% if dialect_faq_section %}
      {% include 'general/layout/pages/faq.html' %}
    {% endif %}

    {% if gen_pdm_section %}
      {% include 'general/layout/pages/gpdm.html' %}
    {% endif %}

{% endblock %}

