{% load static %}


<div class="row">
  

  <!-- left side component - opening msg -->
  <div class="col-md-8">
    <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative align-items-center">
      <div class="row py-3">
        <h6 class="text-uppercase">Services / Universal / {{product_line}}</h6>
      </div>
      <div class="col p-4 d-flex flex-column position-static">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              {% include 'general/pg-contents/products/1-exp180/banner_comp1.html' %}
            </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- right side component - image -->
  <div class="col-md-4">
    <div class="row g-0 overflow-hidden flex-md-row mb-0 h-md-250 position-relative">
      <img src="{% static 'general/assets/img/covers/cover-6.jpg' %}" class="d-block w-100 h-50" alt="..."> 
    </div>
  </div>



</div>
