{% load static %}

    
<section class="py-7 py-md-10 bg-primary" id="">

  <div class="container">

    <div class="row py-3">
      <h6 class="text-uppercase text-primary">Services / Universal / Exp180</h6>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <h1 class="display-2 fw-bold text-white">
          Confidently pass initial <br><span class="fw-bolder">Six-second Threshold</span>
        </h1>

        <p class="lead text-white mb-8">
          Improve the performace of your resume by updating its layout and contents so that the initial screener cannot through it out within Six seconds
        </p>

        <a href="{% url 'exp180_services_all' %}" class="btn btn-white shadow">
          See the Service list
        </a>

      </div>
    </div>
  </div>

</section>
