<header class="bg-dark pt-9 pb-11 d-none d-md-block">
  <div class="container-md">
    <div class="row align-items-center">
      <div class="col">
        <div class="card bg-dark" style="">
          <div class="row no-gutters">
              <div class="card-body">
                <h1 class="card-title text-white">Member Benefits</h1>
              </div>
          </div>
        </div>
      </div>
      <div class="col-auto">
          <div class="card" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
