<section class="pt-8 pt-md-11 bg-black">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5">

        <!-- Heading -->
        <h2 class="display-3 fw-bold text-white mb-6 mb-md-8">
          Generate dark mode in one click.
        </h2>

        <!-- Text -->
        <p class="text-muted lead mb-6">
          <span class="text-white fw-bold">Considered.</span> Most frameworks simply invert colors, but we create a separate palette to make dark mode just as sharp.
        </p>

        <!-- Text -->
        <p class="text-muted lead mb-7 mb-md-0">
          <span class="text-white fw-bold">Efficient.</span> Often dark mode is bundled into a single style codebase, but we've kept it separate to keep filesize small.
        </p>

      </div>
      <div class="col-12 col-md-6">

        <!-- Media -->
        <div class="position-relative vw-md-50 pt-7 ps-7 ps-md-9 overflow-hidden" style="max-width: 800px;">

          <!-- Background -->
          <div class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor rounded-4"></div>

          <!-- Image -->
          <img class="position-relative w-100 w-md-150" src="assets/img/screenshots/desktop/dashkit-alt-mixed-cropped.png" alt="...">

        </div>

      </div>
    </div> <!-- / .row -->
  </div>
</section>



<section class="pt-8 pt-md-11 bg-black">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5 order-md-1">

        <!-- Heading -->
        <h2 class="display-4 fw-bold text-white mb-6 mb-md-8">
          A comprenshive and organized Figma file.
        </h2>

        <!-- Text -->
        <p class="text-muted lead mb-6">
          <span class="text-white fw-bold">Components.</span> UI elements are organized into components and variants to make extensive customization much easier.
        </p>

        <!-- Text -->
        <p class="text-muted lead mb-7 mb-md-0">
          <span class="text-white fw-bold">Color + Text Styles.</span> We've codified a type scale and color palette for rapid building of new components and pages.
        </p>

      </div>
      <div class="col-12 col-md-6 col-lg-6 order-md-0">

        <!-- Positioner -->
        <div class="position-relative">

          <!-- Media -->
          <div class="position-relative vw-md-50 p-7 p-md-9 ps-0 overflow-hidden float-end" style="max-width: 800px;">

            <!-- Background -->
            <div class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor rounded-4"></div>

            <!-- Image -->
            <img class="position-relative w-100 w-md-120 float-end" src="assets/img/screenshots/ui/landkit-figma.png" alt="...">

          </div>

          <!-- Icon -->
          <img class="img-fluid position-absolute top-0 end-0 mt-n5 me-n5" src="assets/img/icons/figma-dark-circle.png" alt="...">

        </div>

      </div>
    </div> <!-- / .row -->
  </div>
</section>
