<div class="container-fluid fixed-bottom bg-dark" id="cockie-policy-div">
  <div class="row">
    <div class="col-10 text-white">
      we use cookies to give you best experience possible. By countinuing, we'll assume you'are cool with our cookie policy.
      We’ll use cookies to improve and customize your experience if you continue to browse. Is it OK if we also use cookies to show you personalized ads?
    </div>
    <div class="col-2">
      <button type="button" class="close" aria-label="Close" id="closeCoockiePolicyBtn">
        <span aria-hidden="true" class="bg-white">&times;</span>
      </button>
    </div>
  </div>
</div>
