      <div class="row align-items-center height-415">
        <div class="col-lg-8 offset-lg-2">
          <div class="subscribe-form z-index">
            <h3>Subscribe To Our Newletter</h3>
            <p>Subscribe now and receive weekly newsletter with Coaching materials, new courses, interesting posts, popular books and much more!</p>
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <input type="email" placeholder="Your Email" />
                <button class="btn-common">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>