      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2>Events & Blogs</h2>
          </div>
        </div>
      </div>
      <div class="row mt-60">
        <div class="col-lg-7">
          <div class="blog-single style-1">
            <div class="blog-thumb">
              <a href="blog-details.html"><img src="/static/general/assets/images/blog/1.jpg" alt="" /></a>
            </div>
            <div class="blog-desc">
              <h3><a href="blog-details.html">How To Get Better At Learning</a></h3>
              <ul class="list-none">
                <li><a href="#">December 05, 2019</a></li>
                <li><span>|</span></li>
                <li>By <a href="#">Ms. Lucius</a></li>
              </ul>
              <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
              <a href="blog-details.html" class="readmore">View Details</a>
            </div>
          </div>
          <div class="blog-single style-1 mt-20">
            <div class="blog-thumb">
              <a href="blog-details.html"><img src="/static/general/assets/images/blog/2.jpg" alt="" /></a>
            </div>
            <div class="blog-desc">
              <h3><a href="blog-details.html">The Future Of Web Design</a></h3>
              <ul class="list-none">
                <li><a href="#">December 05, 2019</a></li>
                <li><span>|</span></li>
                <li>By <a href="#">Ms. Lucius</a></li>
              </ul>
              <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
              <a href="blog-details.html" class="readmore">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="event-single mt-sm-30">
            <div class="event-inner z-index">
              <div class="event-date">
                <span>04</span>
                <small>DEC</small>
              </div>
              <div class="event-desc">
                <h3><a href="events-details.html">Hands On Traning Workshop</a></h3>
                <ul class="list-none">
                  <li><i class="fa fa-map-marker"></i>Newyork, US</li>
                  <li><i class="fa fa-clock-o"></i>10:00 pm – 06:00 am</li>
                </ul>
                <a href="events-details.html" class="readmore">View Details</a>
              </div>
            </div>
          </div>
          <div class="event-single mt-20">
            <div class="event-inner z-index">
              <div class="event-date">
                <span>22</span>
                <small>JUN</small>
              </div>
              <div class="event-desc">
                <h3><a href="events-details.html">Summer School 2019</a></h3>
                <ul class="list-none">
                  <li><i class="fa fa-map-marker"></i>Newyork, US</li>
                  <li><i class="fa fa-clock-o"></i>10:00 pm – 06:00 am</li>
                </ul>
                <a href="events-details.html" class="readmore">View Details</a>
              </div>
            </div>
          </div>
          <div class="event-single ds-md-none mt-20">
            <div class="event-inner z-index">
              <div class="event-date">
                <span>15</span>
                <small>AUG</small>
              </div>
              <div class="event-desc">
                <h3><a href="events-details.html">Colorful Day Event</a></h3>
                <ul class="list-none">
                  <li><i class="fa fa-map-marker"></i>Newyork, US</li>
                  <li><i class="fa fa-clock-o"></i>10:00 pm – 06:00 am</li>
                </ul>
                <a href="events-details.html" class="readmore">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>