<div class="col-md-7">
	<h2 class="featurette-heading">Find the campus with quality education <span class="text-muted">that suits your budget</span></h2>
	<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
	<ul>
	  <li>Get help for DS-160 fillup</li>
	  <li>Get help for documnts organization for the interview</li>
	</ul>  
</div>
<div class="col-md-5">
  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
</div>

<!--class="featurette-heading"-->