            <div class="banner-text">
              <h1 class="featurette-heading">Find Your Next Campus</h1>
              <p>Discover over 10,000 courses from 6,500 education providers in United States</p>
            </div>
            <div class="search-box mt-40">
              <select>
                <option>Program Category</option>
                <option>STEM</option>
                <option>Non STEM</option>
              </select>
              <select>
                <option>Degree Level</option>
                <option>Bachelor</option>
                <option>Masters</option>
                <option>PhD</option>
              </select>
              <button class="btn-common">Search</button>
            </div>