{% load static %}



<div class="carousel-item">
  <h4 class="display-2 fw-bolder">
    Resume analysis: The most <span class="text-primary">specific</span> and 
    <span class="text-primary">accurate</span> way possible
  </h4>
  <p class="fs-lg text-reset">
    An Application Tracking System (ATS) uses specific criteria set by hiring teams to filter resumes. Unfortunately, even with significant expertise and experience, if your resume contains these common criteria, the ATS may eliminate it from further consideration    
   </p>
   <p class="fs-lg text-reset">
    CampusLinker services will assist you in strategically placing the right content to ensure your resume stands out from the thousands in the queue
   </p>
</div>

