{% load static %}


        <div class="carousel-item">
          <h4 class="display-2 fw-bolder">
            Introducing <span class="text-primary">Job search 2.0</span>
            state-of-the-art job search process
          </h4>
          <p class="fs-lg text-reset">
            Know the job search process inside-out and act pro-actively
          </p>
          <p class="fs-lg text-reset">
            Donot just submit your resume for a position and hope 
        for the best that your resume would be picked up by a 
        recrutier from a Tech company
          </p>
        </div>
