{% load static %}


        <div class="carousel-item active">
          <h4 class="display-2 fw-bolder">
            Job search process has never been so
            <span class="text-primary">seamless</span>
          </h4>
          <p class="fs-lg text-reset">
            Take control of your job search process like never before
            with our wide range of services.
            Our services will guide the job search candidates
            to identify the weakness of their resume before it is being
            submitted to a recruiter or hiring manager
          </p>
        </div>        