{% load static %}


<div class="carousel-item">
  <h4 class="display-2 fw-bolder">
    <span class="text-primary">Beat</span> your job application rejection
    like a pro
  </h4>
  <p class="fs-lg text-reset">
   Our comprehensive and thorough analysis provides valuable insights to help you prepare your resume before submitting it to a recruiter, hiring manager, or online job boards.
   </p>
   <p class="fs-lg text-reset">
    By utilizing our services, you can be well-prepared in advance, increasing your chances of success
   </p>
</div>

