{% load static %}


<div class="row">
  
  <div class="col-12 col-md-4">
    <div class="icon text-primary mb-3">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"/><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"/></g></svg>            
    </div>
    <h3 class="fw-bolder">
      Designed to provide spcific analysis
    </h3>
    <p class="fs-sm text-reset mb-6 mb-md-0">
      In the US job market, a "one size fits all" approach does not exist. Similarly, we donot apply this theory to analyze your resume. CampusLinker offers a highly specific evaluation of your resume that can effectively capture the attention of recruiters and hiring managers. Our services provide a thorough examination of your resume's strengths and weaknesses, highlighting areas that require improvement and enhancing its overall appeal to potential employers
    </p>
  </div>

  <div class="col-12 col-md-4">
    <div class="icon text-primary mb-3">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g></svg>            </div>
    <h3 class="fw-bolder">
      Designed to serve various IT jobs
    </h3>
    <p class="fs-sm text-reset mb-6 mb-md-0">
      CampusLinker is designed to cater to individuals seeking IT jobs by providing specialized services in this field. With our beta launch, our services will be exclusively available to candidates searching for job opportunities or considering a career change in IT fields such as Software Engineering, IT Project Management, Business Analysis, Cloud Application Development, Database Engineering, and more. Our platform offers customized resume analysis and optimization to ensure that your qualifications and experience stand out to potential employers in the IT industry
    </p>
  </div>

  <div class="col-12 col-md-4">
    <div class="icon text-primary mb-3">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"/></g></svg>            
    </div>
    <h3 class="fw-bolder">
      Designed to be a quick responder
    </h3>
    <p class="fs-sm text-reset mb-6 mb-md-0">
      At CampusLinker, we understand the profound significance of timely service delivery. That's why we've designed our system to ensure that your order is processed and delivered as quickly as possible. Depending on the service and order delivery model you choose, our processing and delivery times range from 3 days to 7 days (calendar days, not business days). This allows us to provide you with the support you need round the clock without any
      weekend or holiday break
    </p>
  </div>

</div>
