    <section class="py-3 bg-gray-200">
      <div class="container">
        <h3 class="fw-bolder display-4">AWS Container Services</h3>
        <div class="table-responsive">
        
          <div class="table-responsive-sm">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Service</td>
                    <td>Price Starts From</td>
                    <td>Use Cases</td>   
                    <td>Delivery Within</td>   
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                  </tr>
                </tbody>
              </table>
          </div>    

        </div>
      </div>
    </section>
  