{% load static %}

<section class="py-8 py-md-8">
  <div class="container">
        <p class="col-md-8 text-muted">
      Here is a quick look at our membership benefits.
      Our membership offers a host of exclusive benefits 
      designed to enhance your experience and provide
       exceptional value. 
       Membership with us is more than a registration; 
       it's an enriching journey that brings you closer 
       to valuable insights, 
       and a supportive community.
      </p>
    </div>
  </div>
</section>

<section class="py-8 py-md-8">
  <div class="container">
    <div class="row">
      <div class="mx-auto p-3 py-md-5">
        <h1>Order Details and Post-Purchase Followup</h1>
        <p class="col-md-8">
          
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Order Status Realtime Updates</h3>
          <p class="text-muted">
              Anticipate seamless updates with our Real-Time 
              Order Status Notifications. Stay informed with 
              Processing Updates, providing timely notifications 
              as we scrupulously handle your order, ensuring 
              transparency at every stage of the process.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Order History</h3>
          <p class="text-muted">
            Your Order History serves as a user-friendly 
            repository for your previous purchases, offering swift
             access to essential details like product specifications, 
             prices, and order dates. Save time and streamline your
              experience by conveniently retrieving this information, 
              eliminating the need to search through emails for 
              a seamless and efficient shopping journey.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Order Dispute</h3>
          <p class="text-muted">
            The Order Dispute feature serves as a
             protective measure for your purchases. 
             Should our product or overall service fall
              short of your expectations, rest assured, 
              we are committed to providing you with a 
              refund—whether partial or in full—tailored 
              to the specific circumstances. Your satisfaction 
              is our priority, and the Order Dispute feature is 
              designed to ensure your peace of mind in every transaction.
          </p>
        </div>
      </div>
    </div>  
  </div>  
</section>

<!-- ads  -->
<section data-jarallax data-speed=".8" class="py-8 py-md-11 overlay overlay-black overlay-70 bg-cover jarallax" style="background-image: url(https://ccv1staticdata.s3.amazonaws.com/images/product-opening-banners/exp180.jpg);">
  <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="jumbotron mt-3">
            <h1 class="fw-bold mb-6">Empower Your Journey, Register with Us 
            Today: Where Opportunities Await and Your Potential Flourishes !</h1>
            <a class="btn btn-lg btn-black" href="{% url 'mmhauth:mmh_auth_register_url' %}" role="button">Get registered</a>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="py-8 py-md-8">
  <div class="container">
    <div class="row">
      <div class="mx-auto p-3 py-md-5">
        <h1>Feedbacks and Reviews</h1>
        <p class="col-md-8">

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Product Review</h3>
          <p class="text-muted">
              Your opinion matters to us! We invite you to
             share your experience by leaving a product 
             review. As a token of our appreciation, 
             we'll reward you with an exclusive coupon 
             code that you can use on your next purchase.
            Your insights not only help us improve but also
             contribute to creating a better shopping experience
              for everyone. Simply visit our website, navigate to 
              the product page, and leave your review. Once submitted, 
              we'll send you a special coupon code as a thank 
              you for your valuable feedback.
              Thank you for being a part of our community. 
              We look forward to hearing about your experience!            
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Service Feedback</h3>
          <p class="text-muted">
            At CampusLinker, your satisfaction is our top priority! 
            As a valued customer, we encourage you to share
             your experience by submitting a service feedback 
             after your delivery is complete. Your insights are crucial 
             in helping us enhance our services and ensure we meet 
             your expectations. Whether it's praise or constructive feedback, 
             we value your opinion, and your input plays a pivotal role in our 
            ongoing commitment to providing exceptional service. Don't forget 
            to let us know how we did – your feedback matters!
          </p>
        </div>        
      </div>
    </div>  

  </div>
</section>


<section class="py-8 py-md-8">
  <div class="container">
    <div class="row">
      <div class="mx-auto p-3 py-md-5">
        <h1>Priorotized Communication</h1>
        <p class="col-md-8">

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card border-left border-primary rounded-0 p-5">
          <h3 class="fw-bold">Prioritized Customer Service Communication</h3>
          <p class="text-muted">
              Elevate your customer experience by 
              becoming a registered member! We 
              take pride in offering exclusive benefits, 
              including prioritized customer service, to our 
              valued members. As a registered member, you enjoy 
              the advantage of swift and prioritized assistance, 
              ensuring that your queries and concerns receive 
              immediate attention. This commitment is our way of
               expressing gratitude for your loyalty and
                trust in our services. Join us today and experience
                 the personalized support and priority service that comes with being a part of our esteemed community. Your 
                 satisfaction is our priority, and as a registered member, 
                 you receive the exceptional service you deserve.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
