<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td valign="middle" class="bg_white footer email-section">
      <table>
        <tr>
          <td valign="top" width="33.333%" style="padding-top: 20px;">
            <img src="https://raw.githubusercontent.com/arifulhaqueuc/res-imgs/main/button-app.png" width="100" height="30"/>
          </td>
          <td valign="top" width="33.333%" style="padding-top: 20px;">
            <img src="https://raw.githubusercontent.com/arifulhaqueuc/res-imgs/main/google-play-badge.png" width="100" height="30"/>
          </td>                
        </tr>
      </table>
    </td>
  </tr>
</table>
