<td style="text-align: left; padding-left: 10px;">
  <p>
    <h3 class="heading">Our Product Lines</h3>
    <ul>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/exp180/home">Exp180</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/app/adhoc/home">Adhoc</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/dialogue/home">Dialogue</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/dialect/home">Dialect</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/identity/home">Identity</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/staircase/home">Staircase</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/bandwidth/home">Bandwidth</a></li>
      <li class="custom-list-item"><a href="https://www.campuslinker.com/rw/service/strategy/home">Strategy</a></li>
    </ul>
  </p>
</td>
