{% if mmh_render_for_this_view_only %}
  <div class="d-flex">
    {% if products_list %}
    <div class="py-3">
      {% if resume_required %}
        Next Step > Upload Profile Info >
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mmh_cartfileupload' %}" id="cart_go_to_fileupload_btn">Continue</a>
      {% else %}
        Next Step > PROFILE INFO NOT REQUIRED >
        <a class="btn btn-primary" href="{% url 'mmh_cartcheckout' %}">Go to checkout</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
{% else %}
  <h1>Something went wrong in the server. Please try again later</h1>
{% endif %}
