
<div class="row align-items-center">
  <div class="col-12 col-md">
    <h3 class="fs-sm fw-bolder mb-1">Shop with confidence</h3>
    <p class="fs-sm text-muted mb-6 mb-md-0">
      Secure 256-bit SSL Encrypted Transaction
    </p>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-12 col-md-auto">
    <div class="fs-sm text-muted disabled btn btn-sm rounded-0 btn-primary-soft">VISA</div>
    <div class="fs-sm text-muted disabled btn btn-sm rounded-0 btn-primary-soft">Discover</div>
    <div class="fs-sm text-muted disabled btn btn-sm rounded-0 btn-primary-soft">Amex</div>
  </div>
</div>
