{% if product_line == 'exp180' %}
  {% include 'general/components/pgheaders/exp180.html' %}
{% endif %}


{% if product_line == 'adhoc' %}
  {% include 'general/components/pgheaders/adhoc.html' %}
{% endif %}


{% if product_line == 'dialogue' %}
  {% include 'general/components/pgheaders/dialogue.html' %}
{% endif %}


{% if product_line == 'referral' %}
  {% include 'resumeweb/components/pgheaders/pg-header-common.html' %}
{% endif %}


{% if product_line == 'dialect' %}
  {% include 'general/components/pgheaders/dialect.html' %}
{% endif %}


{% if product_line == 'identity' %}
  {% include 'general/components/pgheaders/identity.html' %}
{% endif %}


{% if product_line == 'staircase' %}
  {% include 'general/components/pgheaders/staircase.html' %}
{% endif %}


{% if product_line == 'bandwidth' %}
  {% include 'general/components/pgheaders/bandwidth.html' %}
{% endif %}


{% if product_line == 'strategy' %}
  {% include 'general/components/pgheaders/strategy.html' %}
{% endif %}
