<div class="row">
  <div class="col-12 col-md">
    <div class="row">
      <div class="col-auto mb-6">
        <div class="icon-circle bg-primary text-white">
          <i class="fe fe-corner-right-up"></i>
        </div>
      </div>
      <div class="col ms-n4">
        <h2 class="fw-bolder mb-0">
          {{product_line|title}}
        </h2>
        <p class="fs-sm text-reset mb-0">
          {{pg_header}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <a href="{% url 'posti20_all_services' %}" class="btn btn-primary-soft me-1 rounded-0">
      All Services
    </a>
  </div>
</div>
