<h2>Register Your Information027</h2>

<div class="mb-6">
  <p class="fs-sm">
    In this section, you have follwoing options
  </p>
</div>


<div class="accordion bg-light" id="helpAccordionTwo">
  <div class="card">

              <div class="card-body">
                <div class="accordion-item">
                  <div class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpFive" aria-expanded="false" aria-controls="helpFive">
                    <span class="me-4" id="helpFiveHeading">
                      <h4>Continue as Registered User <i class="fe fe-arrow-down ms-3"></i></h4>
                    </span>
                  </div>
                  <div class="accordion-collapse collapse border" id="helpFive" aria-labelledby="helpFiveHeading" data-bs-parent="#helpAccordionTwo">
                    <div class="accordion-body">
                      <div class="card-body">{{user_login_html}}</div>
                    </div>
                  </div>
                </div>
              </div>
  
  </div>


              <div class="card-body">Or</div>


  <div class="card">
              <div class="card-body">
                <div class="accordion-item">
                    <div class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpSix" aria-expanded="false" aria-controls="helpSix">
                      <span class="me-4" id="helpSixHeading">
                        <h4>Continue as Guest  <i class="fe fe-arrow-down ms-3"></i></h4>
                      </span>
                        <p class="fs-sm">
                          Do you feel like you belong working with Good Themes, but we just don’t have your dream job posted? No problem, just reach out.
                        </p>                      
                    </div>

                    <div class="accordion-collapse collapse border" id="helpSix" aria-labelledby="helpSixHeading" data-bs-parent="#helpAccordionTwo">
                      <div class="accordion-body">
                        <p>{{proceed_as_guest_html}}</p>
                      </div>
                    </div>
                </div>
              </div>
  </div>
</div>
