<p style="">      
    We acknowledge that you've submitted a request to cancel your order, and we want to assure you that we are actively working on processing it. Our team is committed to addressing your request promptly. We understand the importance of your decision, and we appreciate your patience as we work to resolve this matter for you. If you have any further questions or concerns, feel free to reach out to our customer support team.
</p>

<p style="">
    Rest assured that your case is in capable hands, 
    and we are here to guide you through the process, 
    ensuring a smooth and just resolution to your dispute. 
    Your peace of mind is our priority.
</p>

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
      <td valign="middle" class="footer email-section">
          <table>       
              <tr>
                  <td valign="top" width="60%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-right: 10px;">
                                  {% include 'mymailroom/components/order-details-common.html' %}
                              </td>
                          </tr>
                      </table>
                  </td>

                  <td valign="top" width="50%" style="padding-top: 20px;">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: left; padding-left: 10px;">

                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
