<div class="mb-6">
  <p class="fw-bolder">Transaction Security</p>
  <div class="row align-items-center">
    <div class="col-12 col-md">
      <p class="fs-sm">
        Secure 256-bit SSL Encrypted Transaction
      </p>
    </div>
  </div>
</div>

<div class="py-3">
  <p class="fw-bolder">What happens next</p>
  <div class="row align-items-center">
    <div class="col-12 col-md">
      <ul class="fs-sm">
        <li>We donot save your card information under any circumstances</li>
        <li>We donot save your phone number through this below payment form</li>
        <li>We donot ask for your physical address in order to complete the purchase</li>
      </ul>
    </div>
  </div>
</div>

<div class="mb-6">
  <p class="fw-bolder text-muted">Disclaimer</p>
  <div class="row align-items-center">
    <div class="col-12 col-md">
      <p class="fs-sm text-muted">
        By clicking on the submit button, you agree that you are willing to pay
          the Grand Total amount of payment to LegoIO LLC, the parent company of CampusLinker.
      </p>
    </div>
  </div>
</div>
