{% if product_line == 'prei20' %}
  <div class="row py-5 mb-6">
    <div class="card border-0"> 
        <div class="card-body"> 
              <h2 class="fw-bolder mb-1">I-20 Application</h2>
              <small class="text-reset">{{pg_header}}</small> 
        </div>
    </div>
  </div>
{% else %}
  <div class="row py-5 mb-6">
    <div class="card border-0"> 
        <div class="card-body"> 
              <h2 class="fw-bolder mb-1">U.S. Visa Prep</h2>
              <small class="text-reset">{{pg_header}}</small> 
        </div>
    </div>
  </div>
{% endif %}
