
<p class="fw-bolder">Information Privacy</p>

<p class="fs-sm">
    By visiting and/or taking any action on Bootstrap Themes, 
    you confirm that you are in agreement with and bound by the terms outlined below. 
    These terms apply to the website, emails, or any other communication.
</p>

<div class="d-flex">
    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
    </span>
    <p class="fs-sm">
        Your resume should be either .docx or .doc format
    </p>
</div>

<div class="d-flex">
    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
    </span>
    <p class="fs-sm">
        Your resume file size cannot be more than 5 MB
    </p>
</div>

<div class="d-flex">
    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
    </span>
    <p class="fs-sm">
        Membership is a benefit for those who follow our terms and policies. We may at any time suspend or terminate your account.
    </p>
</div>
