
<p class="fw-bolder">Resume integrity & accuracy</p>

<p class="fs-sm">
    By visiting and/or taking any action on Bootstrap Themes, 
    you confirm that you are in agreement with and bound by the terms outlined below. 
    These terms apply to the website, emails, or any other communication.
</p>

<div class="d-flex">
    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
    </span>
    <p class="fs-sm">
        You cannot lie in your resume
    </p>
</div>

<div class="d-flex">
    <span class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
        <i class="fe fe-check"></i>
    </span>
    <p class="fs-sm">
        If you do, we can catch it very easily
    </p>
</div>

