<div class="accordion-item card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpOne" aria-expanded="false" aria-controls="helpOne">
    <span class="me-4" id="helpOneHeading">
      Why upload my resume?
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpOne" aria-labelledby="helpOneHeading" data-bs-parent="#helpAccordionThree">
    <div class="accordion-body">
      <p class="text-reset">
      <ul class="card-list list text-reset mb-6">
        <li class="list-item">
          <ul class="text-reset">
            <li>You shall have up to 90% more attention from the recruiters and will be considered for next level.</li>
            <li>You shall have over 80% more chance of getting a phone call interview from a recruiter in comparison to other candidates in the same category.</li>
            <li>Our services are versatile, covering many aspects of the resume and requisition of custom service is completely free.</li>
          </ul>
        </li>
      </ul>
      </p>
    </div>
  </div>
</div>
