<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="" id="">
    <div class="card-body">


    <h6 class="fw-bold text-uppercase mb-3">
      About This Form
    </h6>
    <ul class="card-list list text-reset mb-6">
      <li class="list-item">
        Some tips will be added here on how to 
        successfully submit this form.
      </li>
      <li class="list-item">
        <a class="list-link text-reset" href="{% url 'prof_candidate:resume_form_tips' %}">
          Learn More
        </a>        
      </li>
    </ul>

    </div>
  </div>
</div>
