<p style="">
     Your password has been updated.
</p>

<p><a class="btn btn-primary" href="{% url "site_homepage_link" %}">Explore Now</a></p>

<p style="">
    This will help maintain your account preferences in dashboard.
    From your CampusLinker Dashboard you can File a Dispute aganist your order, share customer service feedback, and provide service feedback many more.
</p>

<p>
    As part of our promotional offer, we are offering Coupon Code to every 
    new and existing customer like yourself.
    From the following link start collecting Coupon Codes as many as you want
    before your purchase.
</p>
